[2016-04-09 16:18] saintkepha opened #1 "Add support for YANG 1.1"
See https://datatracker.ietf.org/doc/draft-ietf-netmod-rfc6020bis/

[2016-05-30 09:44] pnuzhdin opened #2 "Length and Pattern properties are not handled properly for String type"
For following example:
[code]

I have had following error:
[code]

[2016-05-30 09:48] pnuzhdin opened #3 "Parse should not die silently"
Currently, parse returns the same invalid schema instead of throwing an error.
So for following example:
[code]

```test``` will have 'module test { prefix "test";\nasd }' but load will return following:

[code]

[2016-05-30 10:00] pnuzhdin opened #4 "Parser should detect syntactic errors"
I know that you are using https://www.npmjs.com/package/yang-parser which doesn't provide syntactic or semantic checks but it's too hard to use a tool like yang-js without that feature.

[2016-05-31 20:11] saintkepha commented on #4
Hi Pavel, yes agreed, I'm currently preparing an update with 0.14.0 release to collapse the parse/preprocess/compile operation to be a singular routine so that the necessary checks take place every time.  I initially thought it may be useful to expose the underlying parse function from yang-parser more or less as-is but I don't think it serves much utility that way.

[2016-05-31 20:13] saintkepha commented on #3
Please refer to my reply in #4.  The upcoming update will address this issue.

[2016-05-31 20:13] #3 closed

[2016-05-31 20:14] saintkepha commented on #2
I'm not sure that the issue is due to invalid handling of length statement for string type.  I'll take a closer look at what the underlying issue is.

[2016-06-01 09:16] pnuzhdin commented on #4
@saintkepha good to know. Btw, nice project!

[2016-06-02 06:59] saintkepha commented on #4
Thanks for the great feedback.  I think I'm just a few days away from the major 0.14 release.  I'll let you know once it's released - it would be very good to get additional feedback from you.

[2016-06-15 05:49] saintkepha commented on #2
0.14.0 published, please give it a try

[2016-06-15 05:49] #2 closed

[2016-06-15 05:49] saintkepha commented on #4
0.14.0 published, please give it a try

[2016-06-15 05:49] #4 closed

[2016-06-15 05:53] saintkepha opened #5 "0.14.0 release announcement"
The new 0.14.0 release has been published into npm.

This release is a complete forklift over prior yang-js.  It's leaner, faster and simply awesome.

Please be sure to refer to the README for more info on the new APIs and usage examples.

[2016-06-27 18:41] saintkepha opened #6 "Support deferred typedef resolution"
During parse of a given schema, it can contain type references to definitions that have yet to be parsed.  Will need to support deferred resolution after the dependent definitions have been loaded instead of failing when such self-referential resolution is encountered.

[2016-06-27 21:16] demonicblue opened #7 "Support for concatenating quoted strings"
The parser seems to ignore concatenation of quoted strings. For example, "hel" + "lo" should be equivalent to "hello". This behavior is noticed when parsing patterns containing regular patterns.
An example is
**typedef domain-name**
in [ietf-inet-types.yang](https://github.com/mbj4668/pyang/blob/master/modules/ietf/ietf-inet-types.yang).

The parses seems to only parse the first substring as a reg

[2016-06-27 22:38] #6 closed

[2016-06-27 22:38] #7 closed

[2016-06-27 22:49] saintkepha commented on #7
@demonicblue I've checked for this issue and found that this was already working as expected.  I've introduced additional test cases in *test/extensions/type.coffee* under the *string* section to explicitly check for string concat parsing behavior.

[2016-06-28 20:52] saintkepha opened #8 "Enhancement to provide auto dependency resolution during import"
When using the provided `yang.require` facility, it would be convenient to try to dynamically resolve `import` dependencies for the YANG schema being loaded.  This would reduce the need to explicitly pre-require dependencies and present similar functionality as would be expected of `require` behavior.

[2016-06-28 20:57] #8 closed

[2016-07-15 02:04] saintkepha opened #11 "enhance ability to provide custom extensions/typedefs during resolve"
Current facility expects extensions/typedefs to be internally resolvable while parsing a YANG schema that uses those extensions.

When a YANG schema defines new custom extensions, it requires preparing such extensions at the Registry or Source level which is currently considered private.

Need to come up with a better way of passing in these implementation Extension instance(s) during `resolve`, s

[2016-07-18 08:10] demonicblue opened #12 "warning: possible EventEmitter memory leak detected"
Getting warnings about event listeners when using yang-js and also when running tests. Is this normal beaviour?

Running node 4.4.7
[code]

[2016-07-18 16:56] saintkepha commented on #12
Thanks for flagging this, it's benign warning but I'm planning on
addressing this by eliminating the event emitter dependency during parse.
On Mon, Jul 18, 2016 at 1:10 AM Henrik Hugo <notifications@github.com>
wrote:

--
Peter
Corenova Technologies
www.corenova.com

[2016-07-20 08:50] herrlax opened #15 "toObject() returning TypeError"
The toObject()-function is returning an error:
`[TypeError: Object.keys called on non-object]`
when trying to convert a yang model into json.

I've tried a minimal model and found this converts correctly into a json-object:
`module my-module {
	prefix "mymodule";
}`

While this produces the error:
`module my-module {
	prefix "mymodule";
	container foo {
		description "bar";
	}
}`

This bug does no

[2016-07-20 16:53] #15 closed

[2016-07-20 17:00] saintkepha commented on #15
Thanks @herrlax for flagging this bug, I'll capture the fix in an upcoming 0.14.19 package later today.

[2016-07-22 11:37] demonicblue opened #16 "Issues parsing tailf-common yang module"
I'm having issues parsing the yang files that comes with ConfD, specifically tailf-common. The error reads
[code]
and the corresponding code is
[code]
However, parsing the typedef out of the context of the tailf-common module renders no errors.

Any ideas on how to debug?

[2016-07-22 16:55] saintkepha commented on #16
That particular error is during pure syntax parsing by the "yang-parser" module.  One option you can try is to use that module directly and see what error you get:

[code]

This should give you the error dump AS-IS.

Otherwise, send me the .yang file in question and I can try to reproduce to see what the issue may be.  I'll also check on whether syntax error content extraction logic in yang-js is

[2016-08-04 18:33] saintkepha commented on #12
This issue has been resolved with latest 0.15.0 release.

[2016-08-04 18:33] #12 closed

[2016-08-04 18:33] #5 closed

[2016-08-04 19:06] saintkepha commented on #16
The current issue is that `yang-parser` module is not able to parse:
[code]
When you change the double quote into single quote then the parsing issue is bypassed.
Will need to look into how to address this at some point.

[2016-08-04 19:06] #16 closed

[2016-08-04 19:17] saintkepha opened #18 "document additional available methods"
There are additional methods available that should be described in the README.

Below are comprehensive listing of public methods (undocumented ones marked with *).

module-level:
- yang.parse
- yang.compose
- yang.require
- yang.register
- yang.use*
- yang.resolve*

Yang/Expression/Element instance:
- bind
- eval
- extends
- toString
- toObject
- locate*
- match*
- access*
- resolve*
- clone*
- m

[2016-08-05 08:54] demonicblue opened #19 "Referencing key items in groupings gives parsing error"
The following code references a key in a grouping and fails parsing.
[code]
` ExpressionError: foo/top/kek/key[first] referenced key items do not have leaf elements`

I can write a test for this case but I'm unsure where it would fit. list.coffee or maybe grouping.coffee

[2016-08-05 09:30] demonicblue opened #20 "Yang.require should account for include statement"
The require method currently only handles imports. Handling include for submodules should also work.

I'll try to fix this and create a pull request.

[2016-08-05 16:58] saintkepha commented on #19
It should be a test case inside list. The order of the statements is what's
causing the issue (although it shouldn't matter in this context).

If you swap the order, "uses quisling" before "key" statement, it will work
properly. It's because the leaf item referenced by "key" doesn't yet exist
in the schema node being resolved since "uses" has yet to be resolved.

I'll see how I can change this up

[2016-08-05 17:00] saintkepha commented on #20
The include case needs a different handling because we need to parse the
submodule without resolving the symbols. I'll see if I can address this
issue.
On Fri, Aug 5, 2016 at 2:30 AM Henrik Hugo <notifications@github.com> wrote:

--
Peter Lee
Corenova Technologies
+1 310 400 6450
peter@corenova.com

[2016-08-05 21:55] #20 closed

[2016-08-05 22:01] demonicblue commented on #19
Ok, thanks for the tip.

[2016-08-05 22:31] #19 closed

[2016-08-05 22:32] saintkepha commented on #19
@demonicblue - thanks for catching this issue.  Please feel free to review the commit to see how I've resolved it.

[2016-08-05 22:34] saintkepha commented on #16
FYI - while testing issue #20 I had to also apply similar changes to the `tailf-meta-extensions.yang` regarding the single quotes for the `pattern` statements.

[2016-08-13 18:48] ramukima opened #21 "TypeError: Can't add property _eventsCount, object is not extensible"
I was trying to run yang-cord project and saw this error when starting the server -

events.js:221
target._eventsCount = 0;
^
TypeError: Can't add property _eventsCount, object is not extensible
at _addListener (events.js:221:25)
at Model.addListener (events.js:270:10)
at EventEmitter. (*....../yang-cord/lib/api/server.js:14:17)

I patched it like below to make it work locally -
https://github.com

[2016-08-13 19:10] saintkepha commented on #21
Thanks @ramukima your change looks great.  Can you create a PR?  I think I'm on a much older version of node.js which did not require this property.  I recently introduced Object.preventExtensions to the Model so it may potentially break other emitter behavior if there are other private properties that it dynamically creates based on different function calls.  Thanks for your help!

[2016-08-13 19:32] ramukima commented on #21
I do not have permission to push to a branch on this repository.

[2016-08-13 20:31] saintkepha commented on #21
I've sent you an invite with write permissions to this repo.  Thanks!

[2016-08-13 20:32] ramukima opened #22 "Change event listener scale issue"
I tried few updates on existing data and see this warning on the server console -

(node:874) Warning: Possible EventEmitter memory leak detected. 11 change listeners added. Use emitter.setMaxListeners() to increase limit

[2016-08-13 21:19] ramukima commented on #21
Got it, pushed and created a PR. Please merge.

[2016-08-14 02:09] ramukima commented on #21
Thanks, works.

[2016-08-14 02:09] #21 closed

[2016-08-14 03:14] ramukima opened #24 "Question: Data Provider and Persistence"
I am not sure what do you plan to allow for model persistence in a yang-js based application, hence my question.

Do you have plans to support data provider APIs e.g. yang-js to allow custom data provider plugins to be able to load and store data directly from the provider using a standard provider API.

I see that the eventing mechanism can be used to persist data in a datastore. This applies to

[2016-08-14 03:34] ramukima opened #25 "Model change events subscription"
Few questions -

- Does an emitted event indicate what exactly what action was performed against the model e.g. CREATE/UPDATE/DELETE ?
- Do I have an option to subscribe to only part of the model changes and not the complete model itself. e.g. I am interested in change events for a subscriber model, but only for its "id" field change. If the event subscription API allows to specify an xpath filter

[2016-08-15 04:35] saintkepha commented on #22
I think this requires further investigation - it looks likely that there's actually some kind of event emitter association leak.

[2016-08-15 14:56] ramukima opened #26 "Unable to bind a function to configuration data properties"
Does the framework allow binding a function only to "action", "rpc", "non-config" attributes in the model ? I tried binding a function to an attribute but the function never gets invoked.

e.g. "/subscriber/foo" where "leaf foo { type string; }" and the function is -

'/cord:subscriber/foo': -> "foo-#{@get '../id'}"

Should this be allowed at all ? The idea is to run a bound function when an attri

[2016-08-15 18:08] saintkepha commented on #26
Currently, the function binding applies to the `Yang` schema expression instance pertaining to the *action*, *rpc*, and *data* elements within in the schema tree.  For the *data* elements, the `config: false` elements uses the bound function to become an **auto-computed** property, which basically executes every time the data value for that element is accessed.  For the *data* elements that are `c

[2016-08-15 18:19] saintkepha commented on #25
Eventually, we will support all of the points you raised above. :+1:

Right now, it's a bit of a *broadcast* with a singular **update** event when any value change occurs inside the `Model`.  Next on the list is a **change** event when the schema for the `Model` itself.

The **create/delete** events likely only applies for `list` statements and we can either support those as an *additional* event

[2016-08-15 18:48] saintkepha commented on #24
Yes absolutely - but likely not in open-source... except for maybe one such data provider as a way to demonstrate how such custom data provider can be created/used inside a yang-js enabled application.

We see this problem domain as an implementation-specific (**platform**) requirement and outside the scope of our community-supported open source library and tools.

Also, the hooks for this will be

[2016-08-15 19:03] ramukima commented on #24
@saintkepha Certainly makes sense to have such customization at the yang-express layer. It also makes sense to provide examples to plug in different data providers (just a howto will work with a sample).

[2016-08-15 19:16] ramukima commented on #25
Create/Delete events could be applied to container/list entries. I think "update" can be considered a general bucket for pushing events when -

- A list entry is created
- A container is instantiated
- An attribute value (leafy attribute) is SET/CHANGED/UNSET (deleted)

When a list is updated (a new entry for example or change to attributes of existing list entry), I would expect multiple events.

[2016-08-15 19:42] saintkepha commented on #24
@ramukima - we're currently discussing such data provider integration for the [yang-cord](github.com/corenova/yang-cord) project - discussing different integration strategy for hooking into Postgres/Django/Synchronizer subsystem.  Hopefully we'll have such an example available in the coming days.

[2016-08-15 22:07] saintkepha opened #27 "Enable evaluated Model data source to be re-evaluated"
Currently, when `Yang.eval` is used on a given JS object instance, it internally modifies/changes the source data object tree, which enforces `Yang` expression schema directly inside the provided object.

When that same source data object is used again with `Yang.eval`, it will cause validation error for any **auto-computed** read-only state data since it will return the computed value when it sho

[2016-08-16 03:37] #27 closed

[2016-08-16 03:37] #22 closed

[2016-08-16 04:06] saintkepha commented on #25
@ramukima - the current `update` event captures the general bucket for *any* changes as you've noted.

I've added additional `create/delete` events to fire when list has elements added/removed.  The event fires with `(prop, items...)` where items are one or more elements added/removed.

The case where one of the attributes for a given list item is updated, only `update` event is triggered for that

[2016-08-16 06:56] saintkepha commented on #25
@ramukima - with the latest update, you can now attach to a specific XPATH filter on a given Model's event:
[code]
Hopefully this gives you the granular event subscription you're looking for.

[2016-08-16 07:06] saintkepha commented on #27
The fix entailed making a clone of the source data object tree during `Yang.eval` so that subsequent use of that source data object tree does not break `Yang.eval`.

[2016-08-16 14:33] ramukima commented on #25
Wonderful. Many thanks for getting it in so quickly. Few differences though -

1. It should be fairly easy to do a diff() between two JSON data structures. I see an event raised on fake updates as well. i.e. Say I have a model like below -
[code]
I do a POST to create an item to this list by using the following -
[code]
This generates a 'create' event for the new list entry added as well as an 'up

[2016-08-16 17:31] ramukima commented on #24
@saintkepha Sure. Since we are talking about YANG model driven application, it makes sense to pick a datastore that is most suitable for such a data structure. Have a look at sysrepo (https://github.com/sysrepo/sysrepo) which is a YANG model based configuration datastorage. Though the API they have is completely C, but looking at the Google Protocol Buffer spec they have (though proto2), implement

[2016-08-16 17:44] saintkepha opened #28 "Introduce timestamp to events"
Capture the timestamp of when events are triggered.

timestamp format? UTC? unixtimestamp?

[2016-08-16 18:19] saintkepha commented on #24
@ramukima - that is a fantastic reference! Yes, proto2 support is on the
roadmap and it should integrate nicely. I'm also intimately familiar with C
(since most of my earlier work has been dealing with network protocol
analysis) and we also have a C data transformation library that we will be
integrating (also in our roadmap). We can discuss further on our upcoming
call. :-)
On Tue, Aug 16, 2016 a

[2016-08-16 18:35] saintkepha commented on #25
No, you're right - I was aware of those shortcomings, I just haven't gotten
to them yet. :-)

As to diff() operation, I'm currently sending the new Property and the old
Property as part of the "update" event (prop, prev). You can perform the
diff via prop.content compared with prev.content. But it would be safer to
do a prop.get() and prev.get() since the prop in question may be an
auto-computed p

[2016-08-16 19:52] ramukima commented on #25
It is reasonable to expect an application to perform a diff of changes before taking further actions. I did not notice the (prev, prop) thing earlier, hence my confusion.

Regarding the timestamp on data, I guess that can be integral part of the model even though it may be auto-computed in the backend. Hence, in such situations, an event is expected even when no state in actual data was changed, o

[2016-08-16 20:02] saintkepha commented on #25
Sure perfectly reasonable since none of this has been documented. :-)

Need to add Events API section in the README. Probably need to transition
to the wiki module since the README is starting to get rather busy.
On Tue, Aug 16, 2016 at 12:53 PM ramukima <notifications@github.com> wrote:

--
Peter Lee
Corenova Technologies
+1 310 400 6450
peter@corenova.com

[2016-08-17 04:50] saintkepha commented on #26
ok to close?

[2016-08-17 04:53] saintkepha commented on #25
I think I've addressed most, if not all of the events API as discussed.  Please give the latest version a try and we can close this issue and open more specific ones later as needed.  Take a look at the latest documentation - there's more work at hand but I think it's a significant improvement.

[2016-08-17 04:55] saintkepha commented on #25
BTW - I've decided against using the wiki since it would be better to have documentation version tagged with the given snapshot being used.

[2016-08-19 17:41] ramukima commented on #25
I am somehow still not able to get the filter based event subscription working.

I have two 'on' subscriptions on my model. One without a filter path and other with a filter path. I never see the one with filter specified being called -

[code]

Also, I am not sure if I can specify a filter for 'create' events as well. For example, I want to know when a 'childpet' is created. So not sure if someth

[2016-08-19 17:47] saintkepha commented on #25
I'll take a look - the recent change to internal XPATH processing, etc. may
have broken the granular event subscription.

The unit test suite needs some major update to also include method
validations beyond current set of parse/bind/eval validations.
On Fri, Aug 19, 2016 at 10:41 AM ramukima <notifications@github.com> wrote:

--
Peter Lee
Corenova Technologies
+1 310 400 6450
peter@corenova.com

[2016-08-19 20:54] saintkepha commented on #25
@ramukima - sorry I was not able to replicate your issue.  It all seems to be working fine...

This is what I tried in the coffee REPL:
[code]

The last action with `merge` might require a bit of explanation.  I'm treating `list` properties as **both** an array and a hashmap so that you can do property named based traversal: `model.pet.one.childpet`

It is able to map the `pet.one` to be the same

[2016-08-19 20:58] saintkepha commented on #25
One thing to note is that setting the `model.pet.one.childpet` list with the new array does NOT fire the `create` event.  It only fires the `update` event for that list collection as a whole - since it is a singular event on the entire collection.  Only time `create` event fires is if that collection is updated with additional items being added into it (such as via `merge`).

As you've probably no

[2016-08-19 21:27] saintkepha commented on #25
BTW, once you have the initial data set loaded and only interested in listening to a particular element, you can also try this:

[code]

This style of event listener will require some prior knowledge on the exact path to traverse, but the benefit is that it will **persist** across any changes to the `id` of the `childpet` or the `pet` that is holding it.  For example, if someone PATCH `/pet/one` t

[2016-08-20 14:33] ramukima commented on #25
Ok, thanks for documenting it nicely. I will try it the way you recommend.

[2016-08-20 14:40] ramukima commented on #26
So should I expect the following to work ?

- I have a the following data model:
[code]
- I have a binding function like below -
[code]
Should I expect my binding function be called when I try to get/set foo.name ?

[2016-08-20 23:07] ramukima commented on #25
I noticed the paths here you mentioned for the filters is "absolute" XPATH pointing to instances. I was thinking I could do that using YPATH (Yang Path) e.g. on update of /pet/childpet, I could receive events whenever any instances are created/updated/deleted/set/unset under that model.

[2016-08-21 00:37] saintkepha commented on #25
Yes, the event listener filter paths apply to events from that "matching" element (and sub-elements).

[2016-08-22 16:53] saintkepha commented on #26
With the current `bind` behavior, the bound function will run only ONCE and the output will be set as the value for that data element.

I'm thinking of modifying the `bind` behavior as follows:

1. When bound to `rpc/action` have the generated `Property` instance adopt the bound function (as-is).
2. When bound to `config: false` have the generated `Property` instance use the bound function as `Get

[2016-08-22 19:46] ramukima commented on #26
3. When bound to config: true have the generated Property instance use the bound function as Setter handler.

Is it just setter method of a setter/getter both ?

[2016-08-22 19:51] ramukima commented on #25
By the way, I want to mention that "state synschronization" through eventing is a means for external system integration. However, I am skeptical whether thats the right approach for persisting model state changes for the core application.

Imagine I have a event subscription to propagate a list into a data store when new entries in the list get added. When I restart my application, I must fetch th

[2016-08-22 19:58] saintkepha commented on #26
I'm thinking it will be used inside the `Property.set` Setter method only.
This way it is used when some form of "update" takes place for updating the
@content value but not otherwise. Do you think we also need to provide
provision to be used during the Getter call? I couldn't think of a scenario
where it will be needed in that form of transaction.
On Mon, Aug 22, 2016 at 12:46 PM Amit Kumar <noti

[2016-08-22 20:08] saintkepha commented on #25
Sure, this is how I was planning on addressing this scenario.  We can introduce support for `Promise` wrapped data content.  Basically, instead of loading the entire data tree into the in-memory Model instance, we can allow loading of *promises* for subtree elements such that it is resolved only when it gets accessed (via Getter).

This way, it can still perform necessary schema validations on ele

[2016-08-23 01:59] saintkepha opened #29 "enhance property instance's relative XPATH traversal"
From the context of an Event handler routine, it should be easier to find relative data element(s) from the perspective of the `prop` which generated the event.  Since the `prop` which triggers the event of interest can be any sub-tree element inside the `Model`, we need a way to extract sufficient level of XPath details that we can then extend from in order to get to the data element(s) of intere

[2016-08-23 08:23] #28 closed

[2016-08-23 14:24] ramukima opened #30 "Model transformation and detachment from within event subscriber"
Is there a concept of detached models, if not deep clone of model properties ?

Use Case: Do not trigger recursive events
1. I have a event subscription for update on something.
2. I receive prop as argument to that event.
3. I need to transform few properties in this prop object to something else e.g. prop.foo = newfoo
4. Step 3 triggers the change event again. Is there a better way to do this tr

[2016-08-23 14:44] ramukima commented on #30
The only alternative I have right now is the following which is "intense" operation -

[code]

[2016-08-23 18:17] saintkepha commented on #30
Hmmm let's see.  I think the cleanest way would be to directly call prop.set with a new option `suppress: true` which will silence the event trigger for that change.  But that's assuming that you wanted to make a change back to `Model` itself.  If all you wanted to do was to have a local copy to transform it for subsequent transaction, such as writing to DB or such and did NOT want to change the i

[2016-08-23 19:04] ramukima commented on #30
I think both features might be useful in future... 'suppress" events if needed as well 'toObject' kind of method on properties.

I do not intend to 'extend' the model while processing events. In any case, if I try to introduce a new attribute on the existing model instance without explicitly extending the schema, the change should not be acceptable by the default setter method bound to it (can you

[2016-08-23 19:20] saintkepha commented on #30
BTW, I'm thinking that what we want to do is to prevent the same event listener callback function from executing due to a change it introduces as part of its own callback execution?  If it makes a change that a different callback routine may be interested in, the event should still trigger for that part of the data update?

I'm considering this issue seriously because anytime recursive behavior ca

[2016-08-23 19:28] saintkepha commented on #30
Ok, so here's an idea - what if we simply saved the callback function right before we called it and if we see that same callback function about to be executed, we simply ignore it?  Once the callback function finishes executing, we can clear that state and it will be back to observing state?

Hmm I think it should be more than just the callback function itself since we would also care whether the

[2016-08-23 22:15] ramukima opened #31 "leafref broken for cross module leaf references ?"
I have following models:

foo.yang
[code]
bar.yang
[code]

When I create an instance of foo (under yang-express using published URLs), and then try to create a bar instance supplying correct value of bar leafref, I always see error regarding unable to resolve the leafref.

[2016-08-23 22:37] saintkepha commented on #31
Hi Amit, I actually don't think that is valid YANG schema?  From the context of the module bar, it can use module foo's exported grouping, typedef, etc. it can also augment the foo module.  But I don't think it can access data tree elements from module foo.

At least that's how I understood the spec.  If there's public examples of how this should be possible, please share the reference.

[2016-08-23 22:42] saintkepha commented on #31
Sorry, you're right!  I didn't realize you should be allowed to go outside your current module for leafref!  Ok will need to fix. :-)

[code]

[2016-08-24 02:43] #29 closed

[2016-08-24 04:06] saintkepha commented on #30
So here's the latest updates to address this issue:

- event recursion detection/protection. the event callbacks now check the `stacktrace` to ensure the same callback is not found in the execution stack more than twice. it basically means that the same callback cannot be called *more than twice* as part of event propagation.
- new `suppress: true` option support as part of `Property.set` which ba

[2016-08-24 04:15] saintkepha commented on #29
Here's an example:
[code]
With the newly modified `xpath` you can use it in various ways:
- search from Model: `model.in xpath`
- search from Property: `prop.find xpath`
- search from XPath: `xpath.apply <some object>`

BTW, new XPath instances are **schema-aware** so if you try to alter the expression to no longer be part of the underlying schema, it will throw an error.

[2016-08-24 16:53] saintkepha opened #32 "Introduce a Store"
A Store should house a collection of Models and serve as the **root** for XPATH accessibility tree (see #31).

Currently, the Yang schema instances are captured by the Yang class.  This enables schema-level resolutions during Yang.parse.

The Store will need to attach the Model properties and allow population of data state.  The Store will be the primary entity for data provider (persistence layer

[2016-08-25 18:03] ramukima opened #33 "Question: Event Subscription"
Model
[code]

Event Subscription
[code]

Seed data for application
[code]

YangExpress Invocation
[code]

Result: None of these trigger my event subscription. I also tried modifying subscriptions to use '/foo/bar' or '/foo:foo/**foo:**bar' or '/foo:foo/bar**/**', none of those worked.

Should I expect the event triggered in this example, what am I doing wrong here ?

[2016-08-25 18:19] saintkepha commented on #33
You should expect the event to fire as you've expressed.  Looks like a bug.  Let me reproduce and find out what the issue is.

[2016-08-25 18:21] ramukima commented on #33
Only the following work -

[code]

[2016-08-25 18:30] ramukima commented on #33
If it helps, it worked in previous version - yang-js 0.15.16 (I have it locally, but some commits to even this revision broke the same version from npm)

[2016-08-25 18:32] saintkepha commented on #33
Ok, found the issue.  It's because of recent optimization in how I've changed the YPATH parsing logic to take place within the XPATH instance.  Here's the snippet from debug log I've just added:
[code]
The first XPATH is from the `prop.path`, the second XPATH is from the event `filter`.

The above two XPATH expressions are actually identical when *evaluated* but the XPath `contains/locate` logic d

[2016-08-25 18:41] ramukima commented on #33
I was reaching at similar conclusion after adding debug messages to 'xpath.locate' method.

[2016-08-25 18:57] ramukima commented on #33
Thanks for troubleshooting the issue. Should I expect a patch/npm build soon today so that I can test ?

[2016-08-25 19:08] saintkepha commented on #33
Yes - I'm currently working on #32 so hopefully today's build will have a *experimental/functional* `Store` but there will be an update that includes this fix.

[2016-08-25 19:10] ramukima commented on #33
Ok, Not sure if you noticed, in my event filter, I do not have any 'foo key' specified, so its not an XPATH, rather its a YPAH '/foo:foo/bar' instead of "/foo:foo[key()='foo1']/bar"

[2016-08-25 19:14] saintkepha commented on #33
Yes, that should be fine - the current XPATH `contains` method checks for *entity* path match and ignores *predicates/filters*.  So `/foo:foo/bar` will be considered to be *contained* by `/foo:foo[key() = 'foo1'/bar` XPATH expression.

[2016-08-25 22:03] saintkepha commented on #33
the fix will be available once a new version is published to NPM

[2016-08-26 09:52] saintkepha commented on #32
verified integration with `yang-express`. still has planned missing features but the introduction looks to be functional.

[2016-08-26 09:52] #32 closed

[2016-08-26 09:57] saintkepha commented on #31
This *should* be addressed but I haven't verified.

Here's an example of how to test:
[code]
Basically, you can `import` YANG schema text or Yang expression instance or a Model and it will link all the top-level properties at the `store.data` property.  This will make it possible for XPATH resolution for `leafref/path` to traverse across module boundaries.

It'd be great if you can give it a try w

[2016-08-26 10:10] saintkepha commented on #33
Latest yang-js and yang-express published with new Store entity.  Please refer to yang-express/example/petstore.coffee for new convention on setting up the dynamic routes.

You can attach events to Model instance as well as Store instance.  They should have equivalent behavior although the preferred hook is now to listen on the Store.

[2016-08-26 16:00] ramukima commented on #33
Looks like the changes to Store broke a few things... One I could find was -

I can no more curl on /foo:foo/foo1/name or any other attributes in the list.

[2016-08-26 16:28] ramukima commented on #33
Here is an output from petstore example:

[code]

[2016-08-26 16:32] saintkepha commented on #33
Yes, I noticed that late last night - somehow leaf elements lost their
magic. But /foo:foo/name should work (give you list of all "name" values in
the list)?
On Fri, Aug 26, 2016 at 9:00 AM Amit Kumar <notifications@github.com> wrote:

--
Peter Lee
Corenova Technologies
+1 310 400 6450
peter@corenova.com

[2016-08-26 16:41] ramukima commented on #33
[code]

[2016-08-26 16:44] ramukima commented on #33
If it helps, here is a difference between the output of those two invocations...
[code]

The data is printed right from expression.litcoffee
[code]

[2016-08-26 16:52] saintkepha commented on #33
BTW - you can get a fairly verbose debug output if you run with env 'yang_debug=1'

[2016-08-26 17:10] ramukima commented on #33
Yeah, I noticed it in YangForge, somehow had forgotten, thanks for reminding.

[2016-08-26 18:48] saintkepha commented on #33
Issue has been fixed and verified on `yang-express`. new packages published for `yang-js@0.15.24` and `yang-express@0.3.14`.

The problem was introduced when I normalized the XPATH, I had to explicitly ensure that the predicate filters were run *before* proceeding to run the sub-xpath expressions.

[2016-08-26 18:48] #33 closed

[2016-08-26 20:34] ramukima opened #34 "Model CUD events raised even when a model change does not comply with its schema"
Model (alongside example/petstore.yang)
[code]

Create a foo:foo with wrong leafref value:

[code]

Petstore Server Log
[code]

[2016-08-26 20:44] ramukima commented on #34
Should the event be raised only after 'the change in model is validated against the schema' ?

[2016-08-26 21:04] #18 closed

[2016-08-26 21:05] saintkepha commented on #31
@ramukima - were you able to confirm/verify the cross-module leafref functionality?

[2016-08-26 21:09] saintkepha commented on #26
Scheduling this for 0.16 milestone.

[2016-08-26 21:11] saintkepha commented on #24
Will work on data persistence layer adapters by extending the new `Store` construct provided by #32 in the upcoming 0.16 milestone.

[2016-08-26 21:12] saintkepha opened #35 "Add support for when/must statement enforcement"

[2016-08-26 21:13] saintkepha opened #36 "Add support for choice/case statements"

[2016-08-26 21:40] ramukima commented on #34
The missing leafref is reported perfectly fine as seen above. I am not sure whether an 'CU' event must be raised on such things. Every subscription will then need to parse such errors on every event raised and that too for every field in the schema, which is not so good.

How does the system reject an invalid model when I do not pass any value for 'mandatory true' attributes ? Does that as well ra

[2016-08-26 21:42] ramukima commented on #31
I tested it with petstore example and I could see it work. But I am yet to validate multiple scenarios. Closing for now, will reopen if I find it broken again later.

[2016-08-26 21:42] #31 closed

[2016-08-26 21:50] ramukima commented on #33
Perfect, thank you.

[2016-08-26 21:51] saintkepha commented on #34
Well, the CU events are raised because the input configuration was not rejected during Setter (despite the fact that missing leafref does make that configuration invalid).  Basically we are implicitly treating it as a pseudo-valid configuration.  I can also consider having it enforce during Setter so the data itself is rejected?

Except for the leafref case, all other constraint validations take e

[2016-09-08 02:12] ramukima opened #37 "Default Datastore: Concurrent Model Updates and Transactions"
Concurrency: Any thoughts ? Depending on single threaded model that will never allow simultaneous update to the same model instance ?

Transactions: Need to incorporate it in all model updates, may be enforce the application developer to first obtain a transaction handle from the store and rollback changes in case of a failure ?

Probably a thing to think about while designing default store implem

[2016-09-08 02:48] saintkepha commented on #37
I'm planning on addressing this on a per model/module instance basis.

I'll be introducing state awareness into each Model instance and a new `Model.save` operation which will be the trigger for commit operation into the Store.

I think concurrency control will need to be handled on a per user/client connection basis and will likely be addressed inside yang-express.

As to support for multi-model

[2016-09-08 20:55] ramukima commented on #30
Look good

[2016-09-08 20:55] #30 closed

[2016-09-08 21:03] saintkepha opened #38 "Enable lazy fetch of data within model data tree"
As per discussion in #25, we should support mechanism for lazy population of the in-memory config state in order to minimize the potential performance/scale hit incurred when recreating the complete configuration state if the dataset in question is large.

[2016-09-08 21:04] saintkepha commented on #25
Closing #25, will follow up on improving external synchronization scenario with #38.

[2016-09-08 21:04] #25 closed

[2016-10-06 21:32] ramukima opened #40 "property: create return @emit result, instead should return 'this'"
Creating a pet using yang-express:petstore example returns this error -
[code]

The reason is that a 'true/false' value is returned by Property.create as part of its last statement execution (which is @emit 'create', value). I think the intent was to return the model/property (this) as part of create.

Adding a return statement in property.litcoffee like below fixes the issue:
[code]

[2016-10-06 21:33] ramukima commented on #40
Note that, with recent changes to yang-js, the list entry unique validation is broken and I am able to create more than one pet with the same identifier.

[2016-10-06 21:35] saintkepha commented on #40
Ah, yes, before there was no `@emit 'create', this` at the end of the block... will fix now.

Right, on the list entry unique validation was a temporary *compromise* - I meant to bring it back but the reminder is helpful. :-)

[2016-10-06 21:39] saintkepha commented on #40
BTW, take a look at http://github.com/corenova/yang-swagger.  It allows you to have auto-generated documentation integration with apiary.io.  http://docs.yangswagger.apiary.io for self-documentation of YANG model-driven projects.  It was created for the 'yang-cord' project, which you can see here: http://docs.yangcord.apiary.io

[2016-10-07 02:07] #40 closed

[2016-10-07 04:11] saintkepha opened #41 "Address eventemitter leak due to schema change adaptive hook"
Need to revise the schema change adaptive property bindings to reduce the number of listener associations.

[2016-10-12 23:30] saintkepha commented on #41
this was fixed with 9a22ef5

[2016-10-12 23:30] #41 closed

[2016-10-13 00:14] saintkepha commented on #34
Latest yang-js handles leafref resolution during Setter and will reject invalid value appropriately and not raise any CU events.  Closing issue.

[2016-10-13 00:14] #34 closed

[2016-10-15 01:44] saintkepha opened #42 "diagnose Model.in for accessing augmented nodes"
It appears that when using Model.in '/some/xpath' to access an augmented node, it may not be resolving the XPATH properly.  Need to diagnose the root cause issue and address it.

[2016-10-15 02:00] saintkepha commented on #42
The issue is in the new `normalizePath` routine, when it encounters a prefixed entry for an external module *augmented* element, it is not able to locate the prefix inside its local *import* modules (for obvious reasons).

[2016-10-17 21:51] #42 closed

[2016-10-19 16:06] saintkepha opened #43 "Address grouping/uses parent relationship issue during deep clone"
When we deep clone a `grouping` statement while resolving `uses`, we lose the parent relationship mapping for elements within `grouping` if there are additional `grouping/uses` within the `grouping` being cloned. This causes issues in properly identifying which elements were dynamically extended via compile vs. those that were inherently defined as part of the schema definition.

[2016-10-19 18:44] #43 closed

[2016-10-20 23:05] #36 closed

[2016-10-22 00:56] #26 closed

[2016-11-02 18:20] saintkepha commented on #11
Enabled extension attachment via .bind() in 731ff72

[2016-11-12 01:37] saintkepha opened #44 "Optimize Property.remove for arrays"
When an element is removed from an array via the .remove() which internally calls Array.slice(), it triggers a cascade of *shift* operations for each of the higher index entries to be newly .set() on the prior position.

We need to bypass schema validations for such scenario so that performance won't be affected when the array is large and the value being removed is at the beginning part of the ar

[2016-12-01 02:06] saintkepha opened #45 "Re-introduce list key index"
For faster lookups during key-based list item selection, we should introduce a dynamic hash index on every list property.  It should use caching strategy and only re-calculate when the keys change within the collection.  Some of the triggers for this would be an item getting added or removed but also if a key for an existing item gets updated.

[2016-12-01 02:08] saintkepha opened #46 "Investigate "cannot redefine property module""
If an import gets declared more than once in a given module (due to duplicative import during submodule include) we observe this error.  Need to review and come up with a graceful way to handle this.

[2016-12-06 22:22] shlomiassaf commented on #11
@saintkepha I'm unable to import and parse.

I get this error: `encountered unknown extension 'tailf:my-extension'`

I'v imported the file declaring the extension (with the same prefix)

I believe it's related to this issue, can you provide an example how to use the **.bind()** method to attach extensions?

[2016-12-07 00:06] saintkepha commented on #11
Hi @shlomiassaf - I don't think the issue you're encountering is related to the ability to provide custom extension handling capability described in this ticket.

Take a look at the test case for using imported custom extension definition: https://github.com/corenova/yang-js/blob/master/test/extension/extension.coffee#L36

The error of `encountered unknown extension` usually means that it was unab

[2016-12-07 01:31] shlomiassaf commented on #11
@saintkepha Thanks for the quick response, the imports are there, here's a simplified exapmle:

[code]

[code]

[code]

I run this code:
[code]

It fails on the 1st line:
[code]

DEBUG log:

[code]

[2016-12-07 02:16] saintkepha commented on #11
@shlomiassaf - thanks for the details, it really helps.

I think the issue may be with how `yang-js` is handling extensions from an included submodule.  Looks like a bug.  Let me try to reproduce and will let you know what I find.

Thanks!

[2016-12-07 02:50] shlomiassaf commented on #11
Thank you for the hard work!

[2016-12-07 04:41] saintkepha commented on #11
@shlomiassaf - thanks for flagging this issue!

So after digging into it, I found that it was a rather nasty state bleed-over issue with how I was treating the `argument` sub-statement.  The fix itself was fairly minor but I've committed the change along with something else I was working on so it may be less obvious based on the changeset.

You can try the fix now from the master branch.  I'll pro

[2016-12-08 18:42] shlomiassaf commented on #11
Thanks!

[2016-12-14 21:54] #46 closed

[2017-01-03 19:03] saintkepha opened #47 "fix issue with primitive uint/int type validations"

[2017-01-03 19:04] #47 closed

[2017-01-07 08:32] sirikothe opened #49 "open config yangs are not parsing with yang-js"
I am trying to parse open-config yangs using this library. But it is throwing some errors. These yangs compile fine with other compilers.
Some examples of the errors:
1. Following yang:
https://github.com/openconfig/public/blob/master/release/models/interfaces/openconfig-interfaces.yang

throws following error:
ExpressionError: [module(openconfig-interfaces)/grouping(interface-ref-common)/leaf(sub

[2017-01-08 01:25] saintkepha commented on #49
@sirikothe - thanks for reporting the issues.

The issue #1 is due to the fact that `yang-js` does not contain a complete implementation of XPATH processing (particularly dealing with predicates - the stuff between [ and ]).  I think it should generate a warning in this case instead of a fatal error.

As to issue #2, I think the issue is with the openconfig YANG schema.

If you refer to RFC 6020 s

[2017-01-08 05:51] sirikothe commented on #49
@saintkepha
Thank you for your quick reply.
Regarding issue: 1, generating a warning is fine instead of fatal error so that users can continue.
Regarding issue 2, I think you are right. the spec is a bit ambiguous in this case. Because the table in section 7.9.1 (The choice's Substatements)) indicates that leaf's cardinality is 0..n. Where as section 7.9.2 indicate that there can be at most one le

[2017-01-08 06:55] sirikothe opened #50 "Question about Pattern syntax"
I am unable to compile the following yang:
https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/612/Cisco-IOS-XR-types.yang
throws following error:
ElementError: invalid YANG syntax detected around: '"(([a-f0-9]{16}-)(([1-9]?[0-9]|1[0-9][0-9]|2[0-4]"+ "[0-9]|25[0-5])\.){3}([1-9]?[0-9]|1[0-9]'

At this statement:
 typedef Bgp-ipv4-tunnel-addr {
    type string {
      pattern "((0:|[1-9][

[2017-01-08 07:11] sirikothe commented on #50
Looks like this is a duplicate of #16 ? Is there any workaround?

[2017-01-08 21:26] saintkepha commented on #50
Yes it's a duplicate of #16.  The underlying issue is with the `yang-parser` module and I haven't yet taken the time to investigate the issue with variable intropolation taking place for " strings which is breaking the regexp parsing.

The quickest workaround (for now) is to simply change the " into ' on the schema itself... but clearly that is not a long term solution.

Any ideas?

[2017-01-09 02:36] vcshox opened #51 "The empty Built-In Type"
According to [RFC7951#6.9](https://tools.ietf.org/html/rfc7951#section-6.9) **[null]** should be the valid value of an **empty** type data.
However when I evaluated a JSON value with [null], the following error was thrown:

ExpressionError: [module(example-sports)/leaf(leaf_empty)] predicate validation error during apply

[2017-01-09 02:43] sirikothe commented on #50
I am trying to parse hundreds of yangs that have used this in several places. So, changing them manually may be a problem.
May be some kind of callback that will be called before parsing, so that application code can process before being parsed? For example, the call back then can replace " with ' for now so that the parsing will pass?

[2017-01-09 04:38] saintkepha commented on #51
You're right.  I should increase support to consider `RFC7951` inside yang-js.

However, it's a bit of a strange encoding since a `leaf` isn't supposed to contain an array data entry.   Since JS natively supports undefined and null as separate primitives  it doesn't seem logical to not have used a simple `null` to designate an empty type in this case.

[2017-01-09 09:48] vcshox commented on #49
@saintkepha

Is there any XPath function (Ex: current(), re-match(), ... ) has been implemented?

[2017-01-09 09:59] vcshox commented on #51
@saintkepha

Yeah, [null] looks strange at first glance. Any plan to enhance this part?

Thank you.

[2017-01-10 07:49] saintkepha commented on #51
Yes - planning an update for this in a couple of days

[2017-01-10 07:54] saintkepha commented on #50
Ok - I'll take a look to see if we can disable the interpolation from the syntax parser.

[2017-01-10 08:01] saintkepha commented on #49
No, the predicate support is very limited and not much in the way of XPATH functions support.  The key reason for this is because `yang-js` uses JS native structures internally and does not use XML DOM.  If you can help prioritize the most common/useful XPATH functions used in YANG schemas, that would be very helpful for planning future implementation roadmap.

[2017-01-10 10:19] vcshox opened #52 "enable() of Model instance is not working"
I have a yang file with feature statement for example:
[code]

When I eval the schema with the data:
[code]
a model instance (ex:x) is generated.

I called x.enable("my_feature") and got the following error:
PropertyError: [/example-sports] unable to enable unknown feature 'my_feature'

Is there a any bug or I misunderstand the function?

[2017-01-10 17:49] saintkepha commented on #52
I think you meant `x.enable("my_feature")`?

The way the `feature` system is supported by `yang-js` is by *binding* a feature to the schema.

You can bind during `constructor/parse` as follows:
[code]

You can bind after parsing as follows:
[code]

You can also specify the feature during `enable`:
[code]

Hope this helps.

[2017-01-10 17:52] saintkepha commented on #52
BTW, the difference between *binding* to a schema vs. assigning during `enable` is that when you *bind*, then every subsequent `eval` of that schema will use the *bound* function when the content of that element is accessed.  When you assign during `enable`, the feature applies to that particular instance of the `Model` only.

[2017-01-11 01:01] #50 closed

[2017-01-11 01:01] #51 closed

[2017-01-11 01:03] saintkepha commented on #50
@sirikothe - I've bundled the yang-parser and made the fix inside the yang-parser library to honor any special escape sequence characters in a double quoted string.  I've also published new `yang-js` 0.16.23 that includes this fix.

[2017-01-11 01:04] saintkepha commented on #51
@vcshox - I've also published 0.16.23 which includes this fix

[2017-01-11 01:59] saintkepha commented on #16
Proper fix for handling escape characters in double quoted string resolved with 0.16.23

[2017-01-11 04:14] vcshox commented on #52
@saintkepha

Thanks for your clear explanation! Yes, I meant x.enable("my_feature") !

So, is the function bound to the feature like a switch of it?
(For example **_return true_** means feature active, **_return false_** means non-active.)

[2017-01-11 04:15] vcshox commented on #51
@saintkepha

Thanks a lot!

[2017-01-11 04:36] saintkepha commented on #52
The key idea here is that you actually bind the *implementation* of that feature to **become accessible** from the schema.  It's a bit beyond simple `true/false` conditional - since one of the main functionality of `yang-js` is to operate as a *runtime* evaluator.

The feature is considered **available** if there is a `function` bound to the feature element and **unavailable** otherwise.  So from

[2017-01-11 05:08] vcshox commented on #52
@saintkepha

Thank you! This is really a great help!

[2017-01-11 05:13] saintkepha commented on #52
@vcshox - sure thing.  The feature handling subsystem is a bit *experimental* and not very well documented so give it a whirl and let me know if any ideas pop up on how we can improve it.

[2017-01-12 03:49] vcshox commented on #52
@saintkepha
I think multiple feature conditions for if-feature is not working?
[code]
Both `my_feature1` and `my_feature2` are bound with one function

But after eval, the container `feature-test` is not active

[2017-01-12 03:56] saintkepha commented on #52
Allowing boolean conditionals in `if-feature` statement is a YANG 1.1 (RFC 7950) spec.  Current `yang-js` does not have full RFC 7950 spec compliance yet.

You will need to use multiple `if-feature` statements for the intended effect:

[code]

Would be happy to receive a PR to enable this, if interested, take a look at https://github.com/corenova/yang-js/blob/master/src/lang/extensions.coffee#L401

[2017-01-12 07:07] vcshox commented on #52
@saintkepha

OK, I will try.

But I am not that familiar with the `pull request` process and `coffeescript`, it might take some time.

[2017-01-18 17:32] saintkepha opened #54 "Enable extended parsing for `if-feature` statement according to YANG 1.1"
Refer to #52 and #53.

Implement the boolean conditional logic for `if-feature` statement using existing `comparse` library.

[2017-01-18 21:24] #54 closed

[2017-01-18 21:26] saintkepha commented on #52
@vcshox - I've implemented the if-feature boolean conditional evaluator using `comparse`. Feel free to take a look at the commit at #54.

[2017-01-18 21:26] #52 closed

[2017-01-20 03:13] vcshox opened #55 "bug in node identifier of uses augment?"
yang-module:
[code]
After the module is loaded, I loop over every element in the yang instance, no additional node is augmented.

After checking the RFC, `./cont-to-be-aug` does not seem to be a formal **node identifier**.
Maybe an error message is needed?

Even I set the value as a "./123"(a non-existing node), the situation is the same.

[2017-01-20 05:16] saintkepha commented on #55
Yes, `./xxx` is not a valid path identifier.  We can add a simple validation logic to `augment` extension's `resolve` function to make sure it's compliant.  Do you want to give it a try?

[2017-01-20 09:16] vcshox commented on #55
ok, I will

[2017-01-22 06:14] sindhukothe opened #57 "yang-js unique referring to descendant nodes is not supported?"
a unique clause that reference to not the immediate children of the container/group, but to a descendant further down does not seem to work.
Following yang: https://github.com/openconfig/public/blob/master/release/models/network-instance/openconfig-network-instance.yang
It throws an error:
ExpressionError: [module(openconfig-network-instance)/grouping(network-instance-top)/container(network-instan

[2017-01-22 06:26] sindhukothe opened #58 "Question on submodule belongs-to"
I am trying to compile openconfig-bgp.yang.
https://github.com/openconfig/public/blob/master/release/models/bgp/openconfig-bgp.yang
This has two submodules
https://github.com/openconfig/public/blob/master/release/models/bgp/openconfig-bgp-common.yang
and
https://github.com/openconfig/public/blob/master/release/models/bgp/openconfig-bgp-common-multiprotocol.yang
both of them "belongs-to" the same m

[2017-01-22 21:42] saintkepha commented on #58
I think you're right.  We should allow the submodule to include the other submodule since they *both* belongs-to the same module.

[2017-01-23 02:07] #55 closed

[2017-01-23 06:34] saintkepha commented on #55
@vcshox - thanks for your PR #56!

[2017-01-23 16:56] vcshox commented on #26
I tried the `bind` function with the following code. (referencing `jukebox` example)

[code]
Is this normal or maybe I missed something?

[2017-01-23 18:13] saintkepha commented on #26
@vschox - the property binding function mechanics have changed... it currently expects you to assign `@content =` within the function body.  I'm thinking of changing it back to handle the `return` value like the example.  I'll let you know.

[2017-01-24 01:38] vcshox commented on #26
Thank you!

[2017-01-24 01:40] saintkepha commented on #26
@vschox - the changes are currently staged in *develop* branch only.  I'm preparing a 0.17.0 release which should capture all the latest changes soon.  I'll label the outstanding issues that I plan to address in the upcoming release.

[2017-01-24 01:44] saintkepha commented on #1
moving to 0.17 milestone for complete implementation...

[2017-01-24 01:52] vcshox commented on #26
@saintkepha - Again, Many thanks!

[2017-01-24 02:00] saintkepha commented on #57
fixed in develop branch

[2017-01-24 02:00] #57 closed

[2017-01-24 02:21] saintkepha commented on #58
@sindhukothe - I've commited a fix to this in the develop branch.  Please give it a try and let me know if this addresses your issue.

[2017-01-24 04:13] sindhukothe opened #59 "only first include is included"
When there are multiple include statements in a file, looks like only the first include is compiled.
When we encounter the first include, the 'compile' flag is set to false, causing further includes not to be compiled

[2017-01-24 04:15] sindhukothe opened #60 "error when description is empty string"
When the description field is empty string e.g. description ""
Parser is throwing exception. This seems like a valid syntax, but I am not sure.

[2017-01-24 04:17] sindhukothe opened #61 "When a module tries to augment same node, error is thrown"
Seems like it is a standard practice in yangs (e.g. open-config yang:
https://github.com/openconfig/public/blob/master/release/models/interfaces/openconfig-if-ip.yang)
to augment the same node multiple times.
The spec did not mention anything in this regard.
But the parser throws the following error:
ExpressionError: [module(openconfig-if-ip)] constraint violation for 'augment /oc-if:interfaces/oc

[2017-01-24 04:22] saintkepha commented on #60
Yes, I've noticed that as well.  I suppose an empty string is *technically* valid, but it seems like it defeats the purpose of defining a `description` statement in the schema if it's not going to contain any meaningful value.

[2017-01-24 04:29] saintkepha commented on #61
Hmm... interesting.

OK, we can allow duplicate arg values if the element is not a configuration node statement such as container, leaf, etc...

[2017-01-24 04:38] saintkepha commented on #61
fixed in develop

[2017-01-24 04:50] saintkepha commented on #59
Can you expand on this scenario?

When we encounter the first *missing* include, the dynamic import resolver will attempt to find and internally load the dependent submodule with `compile` flag set to `false`.  Each encounter of a *missing* include should try to do the same.  Once all `include` dependencies have been internally loaded, then the `compile` should kick in for the main `module` which

[2017-01-24 04:52] saintkepha commented on #59
Hmm, is this the case when there are nested submodule includes where a submodule also includes additional submodule(s)?

[2017-01-24 06:03] sindhukothe commented on #59
I think you are right. I will have to dig the exact test case again, but meanwhile,
Here is the code change that worked. (I changed the compiled code as I am not very familiar with coffee script)
in yang.js
Replace This:
if (e.context.kind === 'include') {
  opts.compile = false;
}
dependency = this["import"](this.resolve(basedir, e.context.tag), opts);

With.... (Not a very clean code, but just f

[2017-01-24 06:04] sindhukothe commented on #58
This seems to be fixed. Thank you for your quick support.

[2017-01-24 06:06] sindhukothe commented on #60
True. But I am not the one writing these yangs :)

[2017-01-24 06:12] saintkepha commented on #60
What YANG module has this?  Let me loop in @llhotka to get his thoughts on dealing with this.

[2017-01-24 07:44] saintkepha commented on #59
Got it, that makes sense.  Handling `include` overrides the shared `opts` object which then negates the `compile` value to `false` for the original module `import`.  I'll make the necessary fix in coffeescript source.

[2017-01-24 07:51] saintkepha commented on #59
I used Object.assign for this scenario, let me know if this works

[2017-01-24 08:34] llhotka commented on #60
Empty description should be possible, I will check the parsing rules.

[2017-01-24 09:02] llhotka commented on #60
The [parser](https://github.com/llhotka/yang-parser-coffee/blob/master/src/yang-parser.litcoffee) seems to accept empty descriptions, both single- and double quoted.

[2017-01-24 09:40] vcshox opened #62 "if-feature in feature"
[code]

It seems that `container c` is always active when `feature-bar` is **"on"**, no matter what `feature-foo` is.
According to [RFC if-feature](https://tools.ietf.org/html/rfc7950#section-7.20.2), I think the `if-feature` in a `feature` should influence its effectiveness

[2017-01-24 10:49] sindhukothe commented on #60
Example yang with this:
https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/611/Cisco-IOS-XR-ipv4-bgp-oper-sub1.yang

[2017-01-24 11:06] sindhukothe opened #63 "Augment/Uses along with 'when' clause is not compiled"
I have the following piece of yang. Looks like the at the compilation stage, the ethernet-top is not augmented to oc-if:interface due to the when clause

augment "/oc-if:interfaces/oc-if:interface" {
description "Adds addtional Ethernet-specific configuration to
    interfaces model";

    uses ethernet-top {
      when "oc-if:state/oc-if:type = 'ift:ethernetCsmacd'" {
      description "Additiona

[2017-01-24 11:46] llhotka commented on #60
No problem on the parser side:
[code]

[2017-01-24 17:45] saintkepha commented on #63
This is by design, I've deferred schema application to be performed for `when` conditional during `eval` instead of during `parse`.  This is because the `when` conditional cannot be applied without underlying data for which to verify the rule.  I'm open to suggestion on how else we should treat this condition.

[2017-01-24 17:46] #58 closed

[2017-01-24 17:49] saintkepha commented on #60
Thanks @llhotka for your verification.  The issue is on `yang-js` side, it is enforcing that the argument exists... I'll fix on my end.

[2017-01-24 18:30] saintkepha commented on #60
@llhotka - the issue is that the [parser](github.com/llhotka/yang-parser-coffee) currently returns an empty string both for when the argument is an empty string **and** when there is no argument.

[code]

I was previously treating empty `arg` string as non-existence which was presenting the issue as described in this ticket.  If I allow empty `arg` string from the `yang-parser` then I will need a

[2017-01-24 18:36] saintkepha commented on #61
closing, please re-open if issue persists.

[2017-01-24 18:36] #61 closed

[2017-01-24 18:58] saintkepha commented on #62
You're correct, it's just that I have yet to come up with a good way of dealing with `feature` statements...

It's supposed to denote an external condition outside of the schema **and** data.  The problem is, we need to have this external state *known* at the time when we `eval` the schema with data.  One possibility is to pass in this information at the time of `parse` itself.  Another way would

[2017-01-24 19:02] saintkepha commented on #49
Keeping it open to address the XPATH parsing error...

[2017-01-25 05:12] sindhukothe commented on #63
Here is what I think:
At the time of parsing, we are merely augmenting nodes and preparing a tree of nodes. There is no data to determine if this when clause is returning false or true.
At the time of evaluation, there is data to evaluate the when clause and hence determine whether the child is valid or not.
Hence, we should augment the node during parse irrespective of the when clause, but evalua

[2017-01-25 16:48] saintkepha commented on #63
There's a particular use case that makes it difficult to have pre-populated node hierarchy - which occurs when you have circular/recursive groupings.

Take a look at `yang-swagger` project.  It builds a tree of JSON schema nodes based on existence of nested data that have the same schema structure.  If we were to pre-populate the nodes, it would result in an infinitely deep structure...   I use `w

[2017-01-29 15:31] sindhukothe opened #64 "Is yang-js supported on windows platforms?"
I am trying to parse yangs on windows machine.
It is going into infinite loop trying to resolve files in c:\package.json
Looks the following loop in resolve() is causing the infinite loop:

while not found? and dir not in [ '/', '.' ]

On windows, we have to check for root directory differently as given in
http://stackoverflow.com/questions/9652043/identifying-the-file-system-root-with-node-js

[2017-02-01 21:02] saintkepha commented on #64
I haven't tested on windows, it'd be great if you can suggest the proper fix for detecting file system root within windows.  I'm hesitant to fix it myself since I don't have a ready environment to verify the fix.

[2017-02-08 03:02] vcshox opened #65 "require-instance of type instance-identifier"
In the following example:
schema:
[code]
data:
[code]
yang-js works fine when I eval the data.

Nevertheless, when I add sub-statement `require-instance` (no matter `true` or `false`) and eval, yang-js always throws an error.

Is there a bug or maybe I misunderstood the [RFC](https://tools.ietf.org/html/rfc6020#section-9.13.2)?

[2017-02-11 03:13] saintkepha commented on #65
Hi @vcshox - I'll take a closer look next week, it's been a busy week. :-)

[2017-02-13 02:19] vcshox commented on #65
@saintkepha Thank you!!

[2018-07-27 09:16] AdCsoft opened #66 "yang typedef string pattern issues"
when multiple patterns are associated to a string type in a typedef the last pattern overwrites the others... this is not RFC 6020 compliant:
:-)
ciao
Andrea

RFC 6020                          YANG                      October 2010

9.4.6.  The pattern Statement

   The "pattern" statement, which is an optional substatement to the
   "type" statement, takes as an argument a regular expression stri

[2018-07-27 09:19] AdCsoft opened #67 "wrong regexp generated in string pattern (typedef)"
The regexp generated for any pattern is not "pattern" but must be: "^pattern$" otherwise any expression incuding a valid expression will match, for example if the pattern in a typedef is "[A].*[B]" QQQQQABQQQQ would match.
:-)
ciao
Andrea

[2018-07-27 17:37] saintkepha commented on #66
Can you reproduce this error and share an example where it isn’t working as expected? The code treats patterns as an array and ensures that every pattern is satisfied during validation. You can take a look at the code block for “string” typedef in src/lang/typedefs.coffee

[2018-07-27 17:41] saintkepha commented on #67
Thanks, you’re right. I’ll update code to force a complete string match.

[2018-07-27 18:09] #67 closed

[2018-07-27 18:12] saintkepha commented on #63
Closing for now until a better alternative is available.

[2018-07-27 18:12] #63 closed

[2018-07-27 18:13] saintkepha commented on #59
Closing

[2018-07-27 18:13] #59 closed

[2018-07-27 18:44] #65 closed

[2018-07-30 08:34] #66 closed

[2018-07-30 08:36] AdCsoft commented on #66
Maybe the issue I saw was just related to: "[corenova/yang-js] wrong regexp generated in string pattern (typedef) (#67)"
I'll close this one!
:-)

[2018-08-05 22:38] quantang opened #68 "leafref support issues on ietf-network-topology@2017-12-18"
Hello,

I am trying to make yang-js work with "[ietf-network-topology](https://raw.githubusercontent.com/YangModels/yang/master/experimental/ietf-extracted-YANG-modules/ietf-network-topology@2017-12-18.yang)" schema (rfc8345), and noticed the following issues on "leafref" statement:

1. The "../" in leafref path may not work right with list elements. I guess it take the [index] as part of path. So

[2018-08-06 05:26] saintkepha commented on #68
Hi Quan,

Please see my comments inline:

On Sun, Aug 5, 2018 at 3:38 PM Quan Tang <notifications@github.com> wrote:

You are correct, I don’t think I’m handling the relative leafref path
expressions correctly when dealing with “list” entity. There is an extra
“index object” when I expressed the list entity in JS. I’ll need to fix
this...

I think I follow the issue here but an example will be mos

[2018-08-06 05:32] saintkepha commented on #68
Sorry about the format issues in my earlier response, using email reply didn’t work out as well as I expected.

[2018-08-06 21:31] quantang commented on #68
Hi @saintkepha

Thanks a lot for your reply.

For the second issue, here is my test code:

[code]
You will get the following error if you have fixed the list [index] issue (I just made a little change in schema file to work it around):

[code]

In order to make it run, you need the following config in package.json file:
[code]

BTW, as these schema files are based on yang version 1.1, so you need

[2018-08-07 04:54] saintkepha commented on #68
Thanks @quantang. I’ll take a closer look after I’m back from vacation on Wednesday.

[2018-08-09 03:07] quantang opened #69 "How to make yang-js work with Mongo?"
Hello,

I am trying to make Yang model work with my network topology data. As the network could be a big amount of data, I am not sure whether it is efficient or possible to load all of the data in memory. If I want to use Mongo as a store of Yang, how should I make them work together?

The yang-js supports events, I guess I can use them to write the data back to the database, such as on create/up

[2018-08-09 03:47] saintkepha commented on #69
@quantang - this is an excellent question... I've explored this possibility but it's a bit complicated. The problem is that Yang is primarily designed for schema validation for handling XML documents. This means that in order to process the XPATH filter rules over the underlying data model, you need to actually have the data at hand to perform the match logic (for leafref, must, etc.) conditionals

[2018-08-09 03:52] saintkepha commented on #69
Another possibility is to provide support for `binding` **async** functions when you bind custom JS handlers around schema elements. Currently we can attach custom get/set synchronous functions on any arbitrary data model entity but perhaps we can extend the core engine to check if the bound function is using the **async** keyword (ES6) and treat those properties differently. Just a thought.

[2018-08-13 22:18] quantang opened #70 "leafref does not support 'require-instance' statement"
Hi,

I found that yang-js cannot handle the {'require-instance': false} in leafref type, which should not throw an error even if it fails to find a matching instance based on the path.

I can try to propose a fix later if you don't mind. :P

[2018-08-13 22:31] saintkepha commented on #70
Hey @quantang - there was a prior issue #65 which was addressed with a commit recently. It's in the master branch but I haven't published a new version of yang-js that captures the fix yet. See if you can reproduce it with a latest git pull of yang-js.

[2018-08-13 22:41] quantang commented on #70
Hi @saintkepha - I saw your change on #65 which was addressing the 'require-instance' on 'instance-identifier', instead of the 'leafref' type. So they are different and I can repro it in the master branch.

Cheers.

[2018-08-13 22:43] saintkepha commented on #70
Ah, you're right. Sorry I should've read your original post more carefully. Yes, I'd like to see your proposed fix, I think something similar to #65 should serve this case.

[2018-08-13 22:46] quantang commented on #70
Yes, I take your code as an example, as I am new to CoffeeScript.
Any feedback is welcome.

[2018-08-13 22:48] #70 closed

[2018-08-13 22:49] saintkepha commented on #70
Thanks for adding a test case alongside the fix. That really helps!

[2018-08-13 22:52] quantang commented on #70
It is my pleasure. :)

[2018-10-09 21:54] saintkepha opened #72 "only perform schema validation on rpc/action input/output"
input and output data objects should be treated as immutable since they should just be read so no need to attach dynamic property elements.

[2018-10-11 01:19] quantang opened #73 "performence issue with big amount of list data"
We are using yang-js to deal with network topology data and getting some performance issues when the amount of data reaches a certain level, such as we have a network entity which has 800 nodes and 2000 links. We did some perf profiling and identified the following potential improvements we may have:

1. Do not valid a "leafref" element if the "require-instance" is false.
We have some "leafref" el

[2018-10-11 01:55] saintkepha commented on #73
Hi @quantang, thanks for this. Its perfect timing since this was exactly the area I’m currently working on optimizing. For one, I’ve recently shifted the internal List implementation to use Map instead of pure Array. This should help with the merge operation.

Another optimization is in how we handle “config false” data.  In this case, instead of attaching Propertly instance to every node in the h

[2018-10-11 01:57] saintkepha commented on #73
BTW - try out the latest published version. It’s still not where I want it to be, but should be a bit snappier.

[2018-10-11 02:40] quantang commented on #73
Hi @saintkepha,
I am sorry that I didn't try the latest version before raising the issue.
I will have a try soon and get back to you if I have any finding there.
Cheers.

[2018-10-11 02:41] saintkepha commented on #73
Ok, just published 0.17.24. This version should have around 50% performance improvement dealing with list. No worries on the latest version thing, I've been pushing list related improvements over the past couple of days only.

[2018-10-11 02:49] saintkepha commented on #73
Also, I haven't leveraged the new list Map capabilities for the `in` and `find` operations yet. Once that's in place, direct key based lookups should be much much faster. Another todo is related to #68 where leafref requires an extra '..'

[2018-10-11 02:59] saintkepha commented on #73
Actually, the extra '..' leafref inside list might already be fixed... I'll add a testcase for it but just wanted you to be aware of it since I recall you had to do some workaround on the ietf-network-topology schema before.

[2018-10-11 03:31] saintkepha commented on #73
Ah, no that must be a bug :-)
On Wed, Oct 10, 2018 at 8:26 PM Quan Tang <notifications@github.com> wrote:

--
Peter Lee
Chief Executive Officer
Corenova Technologies, Inc.
+1-310-400-6450
linkedin.com/in/peter-k-lee

[2018-10-11 03:36] quantang opened #74 "ListItem failed to return any data on the toJSON()"
Just as the title described, the ListItem extends the Property, however, it fails to return anything on the toJSON() function.

[2018-10-11 03:38] quantang commented on #73
Never mind, I just opened #74 for tracking the toJSON() issue on ListItem.
Cheers.

[2018-10-11 04:12] saintkepha commented on #74
I think just removing the toJSON empty function from ListItem should be fine. I’m not exactly sure why I was planning on extending it...

[2018-10-11 20:09] #74 closed

[2018-10-11 21:32] quantang commented on #73
Hi @saintkepha ,
Great job!  The latest version looks awesome.

Based on my perf profiling, the only rest issue, as you already mentioned above, should be the Property.in, which will further get into XPath.process and Filter.transform. It looks like some element iteration and key comparison happens there.

I hope it can help you make it better. :P
Cheers.

[2018-10-11 22:24] quantang opened #75 "yang-express failed to enable feature on the latest yang-js"
Tried the lastest yang-js, it is awesome.
However, the yang-express cannot work anymore, which fails to enable a feature. I guess it would be a bug in the latest yang-js, so I open the issue here.

Here is the error message:
[code]

[2018-10-12 00:55] quantang opened #76 "Property.merge does NOT work if there is content inside"
It looks like the Property.merge does nothing when there is content inside.
Is it expected?

[code]

[2018-10-12 02:10] saintkepha commented on #76
Nope, another bug. :-)
On Thu, Oct 11, 2018 at 5:55 PM Quan Tang <notifications@github.com> wrote:

--
Peter Lee
Chief Executive Officer
Corenova Technologies, Inc.
+1-310-400-6450
linkedin.com/in/peter-k-lee

[2018-10-12 02:53] #76 closed

[2018-10-12 04:41] saintkepha opened #77 "merge inside container with choice/case broken"
since choice/case requires matching based on specific presence of nodes, performing per key/value merge doesn't work.

[2018-10-13 01:34] saintkepha opened #78 "optimize XPath.process used inside Property.in and Property.find for matching direct key based list item"
Currently, the XPath.process performs a generic operation which is to collect all possible entities into an array first before performing predicate filtering. In the case where the predicate filter applies to a direct key match for a list item, we can short-circuit this process by using the `List` internal Map data to directly retrieve the list item instead of searching through the entire list for

[2018-10-13 01:35] saintkepha commented on #73
Closing since the last performance improvement item captured as a separate issue.

[2018-10-13 01:35] #73 closed

[2018-10-13 01:37] saintkepha commented on #62
The latest yang-js enforces `if-feature` by checking if the referenced `feature` has a `.binding` when the schema is being `eval`. If it finds that the `feature` does not contain any binding, the parent node containing the `if-feature` will be removed from the resulting data model.

[2018-10-13 01:37] #62 closed

[2018-10-13 01:38] #60 closed

[2018-10-13 01:39] saintkepha commented on #45
Latest yang-js captures this by using internal `Map` instance.

[2018-10-13 01:39] #45 closed

[2018-10-13 01:40] saintkepha commented on #44
The latest yang-js implements list items inside list Map and performs seamless removal.

[2018-10-13 01:40] #44 closed

[2018-10-13 01:40] #11 closed

[2018-10-16 01:25] quantang opened #79 "[question] how can I eval two different data on the same schema?"
Hi @saintkepha ,

Do you have any idea how I can eval different data without merging them?

As my scenario may get different JSON data from different sources, I use yang-js to eval the data against my schema first, then I retrieve the cooked data from YANG model for further processing.

Currently, my code can work well if I only deal with one JSON data. If there is another JSON data and I use YANG

[2018-10-16 21:49] quantang commented on #79
Hi @saintkepha ,

Here is my sample code and the output:

Code:
[code]

The output only has the data of the first one:
[code]

Please correct me if I am wrong.
Cheers.

[2018-10-16 21:54] saintkepha commented on #79
Yes, that is the issue I was indicating in my prior note.

The way yang-js currently handles data for imported modules is that it uses a singleton object and it results in bleedover in this scenario. Let me change the Model class instance to hold the models for imported modules instead of the Model class itself and it should allow this use case to operate as expected.

[2018-10-16 23:18] quantang commented on #79
Ok, I see your point.
It is not a high priority issue for us, as I can work it around and eventually merge them into a single one.
Cheers.

[2018-10-16 23:26] quantang opened #80 "List does not have ListItem as its children"
I cannot get the children from a List Property, which I suppose to be an array of ListItem Property.
Currently, it returns an empty array.

[code]

Cheers.

[2018-10-16 23:41] quantang commented on #80
Hi @saintkepha
I can try to fix this one if you don't mind. :P

[2018-10-17 00:35] #80 closed

[2018-10-17 00:36] saintkepha commented on #80
Thanks for the commit! BTW, do you have an email address? I'd like to add you to the project contributors/authors file if you're ok with it.

[2018-10-17 00:36] saintkepha commented on #80
You can send me your email to peter@corenova.com

[2018-10-19 16:32] saintkepha commented on #72
Only performing validations won’t work for cases  where there are custom getter/setters bound to nodes used inside input/output.

[2018-10-19 16:32] #72 closed

[2018-10-19 16:34] saintkepha commented on #68
Issue number 1 has been fixed and confirmed via test case for list.

[2018-11-13 04:40] saintkepha commented on #75
The new "feature" methodology is to treat it as a bindable object. It can be a function or an object with functions. Instead of enabling or disabling, we bind it as needed to denote availability of a given feature.

In the case of yang-express, we would bind every feature into the yang-express module and then inside the rpc run binding function, *use* the feature based on the features enabled as p

[2018-11-14 04:09] #64 closed

[2018-11-14 04:43] saintkepha commented on #75
Working on porting yang-express to ES6. Should have it ready in a couple of days.

[2018-11-14 22:44] quantang opened #83 "List create function doesn't emit create event or return the new created item"
I found the yang-js does not emit 'create' event since we changed the list implementations. Besides, the 'create' function returns the list, instead of the newly created entity which is not convenient.

I will try to propose a change to make it later.
Please feel free to share your thoughts if you have different opinions.

[2018-12-06 22:28] #79 closed, assigned to nobody

[2019-02-21 03:09] quantang opened #84 "Got some trouble during updating yang-js to the latest version"
Hello @saintkepha,

I just got back on YANG schema related work and want to update my yang-js library to the latest version. However, I am not sure whether I am using it in the wrong way, as my code cannot work with the latest version.

Could you help me take a look where would be the problem?

Here is what my code looks like before:
[code]

My expectation is it will initialize my model with the '

[2019-02-21 09:55] saintkepha commented on #84
Hi @quantang

I don't see any issues with your code so I'll try to replicate that pattern.

But I do have some suggestions on how you can condense the logic.

For one, the latest yang-js does not require a function for binding.

You can simply do something like:

[code]
It's possible the .access is resolving something unintended? But you don't need to access a specific module in order to set the d

[2019-02-21 10:10] saintkepha commented on #84
Just realized new `Store` isn't well documented. Should make it into .litcoffee at some point...

Here's an example:
[code]
Hope this helps.

This pattern allows you to evaluate the same schema against different data without clobbering shared module dependencies.

[2019-02-22 03:08] quantang commented on #84
Hi @saintkepha,

I tried it in some different ways and found something interesting:

[code]

- If the bind() function is skipped, both the console.log will look good (except the feature related data is missing).
- If the bind() function is called, the second console.log will be an error. No matter I pass the feature(AMF) with a function or true value.

Any idea?

Here is the error:

[code]

[2019-02-23 02:10] saintkepha commented on #84
Hmm it's an interesting issue since Store simply calls model.toJSON() and
attaches key/value to a new empty object. There must be something wrong
with how feature elements are treated - it must be trying to get() and
using the binding as a getter function. I'll take a closer look shortly.

Best,
Peter
On Thu, Feb 21, 2019 at 7:08 PM Quan Tang <notifications@github.com> wrote:

--
Peter Lee
Chief E

[2019-02-27 03:12] #83 closed

[2019-02-27 04:34] saintkepha commented on #83
I've added 'create' event emit. As to the newly created item(s), please refer to yang-express/0.6.6/lib/restjson.js

Instead of having the `List.create` return a conditional newly created item (if singular), it continues to return the main List property. However, you can now access the `List.change` property to reference the list of changed list items. I've updated the yang-express restjson so tha

[2019-02-27 04:35] saintkepha commented on #75
Latest yang-express (after 0.6) is compatible with latest yang-js.

[2019-02-27 04:35] #75 closed

[2019-02-27 04:38] saintkepha commented on #78
I'm considering making `List` elements return a `Map` instead of an `Array`. This may potentially break prior get operations involving `List` but seems that it may make more sense to directly expose the internal state already using Map when the property getter is used instead of transforming into an Array. @quantang - any thoughts?

[2019-02-27 20:51] quantang commented on #83
Yeah, that looks good to me.
Cheers.

[2019-02-27 21:06] quantang commented on #78
Shall we have some way, such as an additional option or a function, to return the internal state for XPath?
Returning an Array for a List element is intuitive for the external users. While I guess the intention of the "get" is different from the "find", if we can return the Map for "find" and return the Array for "get", that would be perfect.

[2019-04-10 05:47] kimguji opened #87 "Questions about tutorials"
Hello, this is not an issue, it is a question.
I tried to use this code for YANG data parsing(javascript).
However, I can not understand some part of the tutorial.
Some code does not follow javascript syntax, and it makes me confused.
1.  In tutorial the authors used " """ " for multiline string.
     This is for python, not javascript. right? Am I doing something wrong? please tell me.
     After

[2019-04-10 16:57] saintkepha commented on #87
@kimguji - the framework is written in coffeescript and I wrote the examples likewise. I'll need to update the docs to vanilla JavaScript...

[2019-04-11 07:05] kimguji commented on #87
@saintkepha - Thanks for your quick reply. It resolved my questions.

[2019-04-12 06:50] kimguji opened #88 "Schema binding"
When I tried to bind schema in this way, it worked well.
 e.g., 1

  newType=Yang.parse(`
    namespace "urn:vnf:cache:ston";
    prefix ston;
    import ietf-yang-types {prefix yang;}
    revision 2019-04-03;
    typedef access-type{
        type enumeration {
                enum size;
                enum time;
        }
    }
    container Server {
        container Log{
                leaf D

[2019-04-30 03:42] jb-paul opened #89 "Schema validation does not work"
I found something strange while following below tutorial.
https://github.com/corenova/yang-js/blob/master/TUTORIAL.md#schema-extension

The tutorial says that the last line of following code will return undefined, but it return 'hello' when I run this code. Is there anything I missed?

var schema = Yang.parse('container foo { leaf a; }');
var model = schema.eval({ foo: { a: 'bar' } });
// try assi

[2019-05-06 04:21] quantang opened #90 "Attribute under a namespace cannot be recognised correctly"
Hello @saintkepha,

Hope that you are not too busy these days.
I am working to update my project with the latest yang-js. I noticed that some of my attributes are missing in the output with toJSON() function if they don't have an explicit namespace.

Such as:
[code]
If I removed the namespace of the "ietf-l2-topology:name" -> "name", the name attribute will not be in the toJSON() output.
Based on

[2019-05-06 06:07] quantang opened #91 "Module B "uses" grouping defined in module A behaivor is changed"
Hi @saintkepha,

Here is another issue related to the namespace.

I have two module files, module A and module B.

Module A:
[code]

Module B:
[code]

Before I upgrade to the latest yang-js, I can eval the data in this way:
[code]
But now, I found I need to set the data in this way:
[code]
Maybe I am wrong, but I guess Module B "uses" the grouping, should it be under B's namespace?

Cheers.

[2019-05-06 21:23] quantang commented on #91
I had a check on the YANG schema RFC.

So I think the original behaviour should be right.
Currently, I am looking at the code, but I am not confident that I can figure out the root cause. If you have any idea, please feel free to share.

Cheers.

[2019-05-06 23:25] quantang commented on #89
Hi @jb-paul ,

I found the same issue on the latest version.
I guess you can try to use **yang-js@0.18.19**, which should be the version that works right.

Cheers.

[2019-05-06 23:30] quantang commented on #88
Hi @kimguji

I also got some problems with the latest version.
I guess you can try yang-js@0.18.19, which is the version that works right now.

Cheers.

[2019-05-09 11:25] majakizic opened #94 "Using extensions in augmented list or containers results in parsing error"
Hi
I am getting an error when using an extension within augmented list:

      augment "/foo:c1/foo:c2" {
	  list l{
	      foo:c-define "MY_INTERFACES";
					...

**Full stack trace:**

\yang-js\lib\element.js:128
        if ((this.tag != null) && ((ref = this.source.argument) !== 'value' && r
ef !== 'text')) {
                                                      ^

TypeError: Cannot read proper

[2019-05-09 18:18] saintkepha commented on #88
Hi @kimguji

When you parse/eval a `module xxx` schema, the return value is an instance of `Model` class instead of a native JS object.

In your example, the `serverConf` would be an instance of `Model` and you'd need to do something like:
[code]
Hope this helps.

Peter

[2019-05-09 18:18] #88 closed

[2019-05-09 18:31] saintkepha commented on #89
On the newer `yang-js` releases, I've relaxed the property schema handling to allow assignment of non-schema defined properties. It would accept those new properties but would not enforce schema on them. And such properties only exist in the runtime space, they would not be serialized when converted `toJSON``.

I can change it back to disallow non-schema defined property assignments but I figured

[2019-05-09 19:09] #94 closed

[2019-05-09 19:10] saintkepha commented on #94
@majakizic - thanks for reporting this issue. I've fixed in master repo. will include the fix in upcoming release.

[2019-05-09 20:19] saintkepha commented on #91
Ok, I see what the issue is. The recent change compares the schema element's parent with schema element's origin to detect whether the element is externally augmented. Since in your case, you're augmenting nodes from module A using module B back into module A, the augmented nodes thinks they're still part of the same parent/origin namespace.

I'll take this one and make the appropriate changes to

[2019-05-09 20:44] saintkepha commented on #91
I've published 0.22.12 with a fix for this issue. I don't think this would fix issue #90 but please check. We may want to further tweak the element.clone to handle nested sub-statement clone to inherit parent origin instead.

[2019-05-09 20:44] #91 closed

[2019-05-09 20:45] #87 closed

[2019-05-09 20:48] saintkepha commented on #84
I believe this issue should be resolved... Please reopen if not the case.

[2019-05-09 20:48] #84 closed

[2019-05-09 21:18] quantang commented on #91
I pulled your latest code, but the issue seems to remain there. I will debug further to check what is happening there.

[2019-05-09 21:49] saintkepha commented on #91
I've added test case to module.coffee for augment where schema B augments schema A using grouping from schema A and it seems to properly re-scope the augmented nodes to schema B namespace. Let me know what you find.

https://github.com/corenova/yang-js/blob/c9c83c1851c054b1216b2953f36a0e26d77986fb/test/extension/module.coffee#L152

[2019-05-09 21:50] saintkepha commented on #91
It's likely that issue #90 is still outstanding, so you may need to set as:
[code]

[2019-05-09 21:58] quantang commented on #91
Yes, I will try to update my change based on your latest change.

[2019-05-09 22:16] #90 closed

[2019-05-09 22:16] saintkepha commented on #91
I've just pushed another package 0.22.13 that fixes #90.

[2019-05-09 22:17] saintkepha commented on #78
Latest 0.22 branch fixes this issue.

[2019-05-09 22:17] #78 closed

[2019-05-09 22:20] saintkepha commented on #89
Please let me know if the new behavior is undesirable. I'll update tutorial accordingly.

[2019-05-09 22:20] #89 closed

[2019-05-09 22:42] quantang commented on #91
Cool. It works right now. Terrific. Thanks a lot.

One small comment. The toJSON() function always returns the fully qualified property name. Do you think whether we could make it return contextual property name by options? :P

Cheers.

[2019-05-09 23:16] saintkepha commented on #91
I've actually debated on this a bit. If you augment a container with an external namespace, it stands to reason that all sub-nodes of that container should be treated as external namespaced nodes. If that is the only augment, then it would be convenient to treat all sub-nodes via short-handed contextual names.

However, if yet another module then augments into that augmented container, then techni

[2019-05-09 23:20] saintkepha commented on #91
BTW, by allowing #90 to use contextual names, we potentially introduce a breaking/conflict scenario. I'll keep it as-is for now but just keep that in mind.

[2019-05-10 00:10] quantang commented on #91
I think we can keep it as-is, as I can have a post-process to trim the redundant namespaces if the attributes share the same namespace as their parents. If we follow this approach, the full namespace naming should be fully compatible with the contextual one.

For the "augments issue" you mentioned above. Personally, I think it should be independent of how we name the properties, but be related to

[2019-05-10 00:49] saintkepha commented on #91
Now, let's say we have module D:
[code]
We would need to deal with non-contextual property names for the borderColor leafs:
[code]
But whether the `toJSON` would have produced `/borderColor` or the two separate FQN depends on whether module D was loaded or not. Which basically means that the **post-processing logic** would need to be *different* in how it treats the `borderColor` property dependin

[2019-05-10 00:56] saintkepha commented on #91
I guess what you are suggesting is that we expose an option flag to the .toJSON that would allow the user to specify they prefer contextual names when possible but otherwise default to current behavior otherwise.

I'll need to update current toJSON method to accept option object instead of current parameter list (I should've done it that was originally...) but it may break other dependency modules

[2019-05-10 01:17] quantang commented on #91
For the module D, I guess it will be:

[code]

The contextual style should be:

[code]
No matter whether module D is used or not, the /borderColor will only be interpreted to /B:borderColor. If the attribute belongs to a different namespace to its parent, the namespace cannot be omitted.

For the toJSON method, it is not urgent and we should keep it backwards compatible. So we can leave it for a w

[2019-05-10 01:28] saintkepha commented on #91
Ah right, foobar on my example. :-)

The latest `yang-js` has significant perf improvement during eval, especially with larger lists. BTW, have you taken a look at [kos](http://github.com/corenova/kos) yet? Not sure if your project involves integration/interaction between web browser and server but if so, `kos` can be a powerful tool to automate state sync between browser app and the server instan

[2019-05-10 01:34] quantang commented on #91
Not yet. I will take a look at KOS and learn something new. :)
Have a good night. Thanks a lot.

[2019-05-10 04:46] quantang opened #95 "Property.merge() does not support contextual attribute naming"
Currently, the eval() function supports both fully qualified namespace naming and contextual naming. It looks like the Property.merge() function still only accepts fully qualified namespace attributes.

I will have a check on whether Property.set() has the same issue.

[2019-05-10 04:49] quantang commented on #95
Confirmed, the Property.set() works right, only Property.merge() has this issue. Will inveistage later.

[2019-05-10 08:32] majakizic commented on #94
Great. Thank you for your quick response.

[2019-05-12 23:46] quantang opened #96 "Should Property.detach/attach() function be public or private?"
Hello @saintkepha,

I noticed that we don't have Property.remove() function anymore. It looks like the Property.detach() would be the replacement of the original remove() function based on your example of "restjson.js" in yang-express. So I will try to add the detach() function in the Typescript declaration file.

On the other hand, I see the corresponding Property.attach() function. But I guess i

[2019-05-13 00:19] quantang opened #98 "Shall we return Yang Property[] in List.change?"
Hi @saintkepha,

I know that you added the List.change property to return the newly created list items. Right now, it returns the pure JS objects. I am thinking whether it would be more useful if we return them as a Property list, which could give us more information than the pure JS object, such as the List item key.

Cheers.

[2019-05-13 03:43] quantang opened #99 "Empty string "" value is missing in toJSON() returning data"
For the data given as follows:

[code]

The toJSON() returned as follows:

[code]

The "value" attribute is not included in the output.

[2019-05-14 23:00] saintkepha commented on #96
The new design intention is that attach/detach should be private/internal. However, I don't have a good pattern for performing delete/remove operation, especially given the functional role separation between `Container` and `Property` when it comes to dealing with sub properties and the runtime state operations delegated to the `Proxy` object.

As to typescript, we should document them both to be

[2019-05-23 17:23] jcourington opened #100 "Alternate choice syntax doesn't compile"
From RFC6020 - the following 2 should be equivalent but the first version without the 'case' gives an error - see Error below

[code]

is equivalent to:

[code]

[code]

[2019-05-23 17:27] saintkepha commented on #100
Thanks for reporting the issue, I’ll investigate and let you know what I find.

[2019-05-23 17:51] jcourington opened #101 "submodule belongs-to issue"
This seems similar to #58 but does not seem to be resolved.

Given

`module A {
    prefix a;
}`

and

`submodule B {
    belongs-to A { prefix a; }
}`

`submodule C {
    belongs-to A { prefix a; }
    include B;
}`

if C includes B to use a type you get the following error:

[code]

[2019-05-24 00:17] #95 closed

[2019-05-24 00:17] #100 closed

[2019-05-24 00:17] #101 closed

[2019-05-24 00:17] #99 closed

[2019-05-24 10:59] jcourington opened #102 "length in a union"
Thank you very much for the quick responses on these issues. My models compile after this issue!

[code]

results in

[code]

[2019-05-24 21:44] saintkepha commented on #102
Hi @jcourington - unfortunately there isn't a quick fix for this issue due to the way current parser uses the `tag` to internally cache key lookup mappings.

However, here's a workaround that should satisfy your intended `typedef`:
[code]
I'll leave this issue open since we should properly handle the exception case for `type` that can have multiple duplicate tag values.

[2019-05-25 15:43] jcourington commented on #102
Hi Peter,

 I have figured out containers. I see now that there is an array of leafs under a container. I can access everything in my model.
 I really appreciate your help working through everything.

Let me know if this example could help others...

Thank you,

Jeff

________________________________
From: Peter K. Lee <notifications@github.com>
Sent: Friday, May 24, 2019 5:44 PM
To: corenova/yang

[2019-05-31 15:00] jcourington opened #103 "Infinite loop when import ietf-alarms.yang"
When I try to import the ietf-alarms.yang model the parser goes into an infinite loop.
This is a yang 1.1 model

https://datatracker.ietf.org/doc/draft-ietf-ccamp-alarm-module/
https://tools.ietf.org/html/draft-ietf-ccamp-alarm-module-09

[code]

[2019-06-10 18:32] Vafa-Andalibi opened #104 "How to validate the data?"
I'm trying to use the variation of the example in the [Quick Start](https://github.com/corenova/yang-js#quick-start) to validate a data which does not match the schema:

[code]
The `model` clearly does not match the schema because it doesn't have the `a` leaf and it's mandatory. But I can't find where is the result of the "validation" is. Is there any data field somewhere indicating "the parsed da

[2019-06-10 19:14] saintkepha commented on #104
Hi @Vafa-Andalibi

You should see something like following:
[code]

Basically, errors during parse/eval will throw an error.

[2019-06-10 19:14] #104 closed

[2019-06-10 19:32] Vafa-Andalibi commented on #104
Thank you for your prompt reply. Is there anyway to **revalidate** the model? Take this code for instance:

[code]

Here as you see I'm setting integer to `a` whereas it should only be string. But the last line gets the value successfully even though it does not match the model. The output I get is:

[code]

 So how an I revalidate the model?

Thanks again,

[2019-06-10 19:36] saintkepha commented on #104
`yang-js` tries to be forgiving about type conversions. When you pass in a number to string, it will try to convert it to a string equivalent. When you pass in a string to a number, it will try to convert it to a number equivalent. Only when the conversion fails, it throws an error.

The way you are triggering revalidation is correct, it's just that `yang-js` auto-converted `123` into `"123"`.

[2019-06-10 21:17] Vafa-Andalibi commented on #103
Have you imported ` ietf-yang-types`? from what I see, alarm is importing that and `yang-js` is saying:

[2019-06-10 21:31] Vafa-Andalibi opened #105 "Recursive dependency download/import"
Apologies for opening another issue for yet another question which might not be relevant to this package either. Is there any way to download a module and its dependencies all recursively so to import them in the script one by one?  Is this a good practice at all?

For instance [this yang model](https://www.yangcatalog.org/yang-search/module_details.php?module=ietf-access-control-list) has several

[2019-06-11 02:17] saintkepha commented on #105
I've considered including external url based import feature (where you download/process) schemas from external sites but that would require async logic during parse.

For now, you can refer to https://github.com/corenova/yang-js/blob/master/TUTORIAL.md#interal-package-bundle

This would allow you to perform the recursive dependency resolution as long as the schemas are available in your local file

[2019-06-11 02:19] saintkepha commented on #105
BTW, I think it might be worth checking out yang-loader (loader for webpack) which may potentially allow you to implement such download/resolve functionality.

[2019-06-11 13:36] Vafa-Andalibi commented on #105
Thanks, I downloaded the [yang-loader](https://www.npmjs.com/package/yang-loader) but there is no documentation or any help. The github repository and the github page is also pointing to yang-js repository. Is there any documentation for yang-loader?

[2019-06-12 20:27] #105 closed

[2019-06-12 20:29] Vafa-Andalibi commented on #105
I eventually downloaded them manually from the yang repository [here](https://github.com/YangModels/yang) and put them with the dependencies in the same folder. However still cannot import them in the js file probably because of #103.

[2019-06-12 20:38] Vafa-Andalibi commented on #103
Any update on this @jcourington? I can reproduce this using basically any Yang file that is importing dependencies. An example would be [ietf-packet-fields](http://www.netconfcentral.org/modules/ietf-packet-fields) which is importing [ietf-inet-types](http://www.netconfcentral.org/modules/ietf-inet-types), [ietf-yang-types](http://www.netconfcentral.org/modules/ietf-yang-types) and [ietf-ethertype

[2019-06-12 20:46] saintkepha commented on #96
On the latest yang-js (0.22.17) I've introduced `Property.delete` which should now be the public interface for the prior `remove/detach` method.

I've updated `yang-express` (0.7.0) to use the new public `delete()` method as well.

We should update typescript interface accordingly.

[2019-06-12 20:46] #96 closed

[2019-06-12 20:48] saintkepha commented on #103
@Vafa-Andalibi - can you try to enable yang debug and share some of the final tidbits causing the inifinite loop?
[code]
Thanks.

[2019-06-12 20:58] Vafa-Andalibi commented on #103
Here's a output including two "batch" of error lines:

[code]

[2019-06-12 21:18] Vafa-Andalibi commented on #103
Just the quick note that the dependencies can be imported separately successfully. i.e. something like the following will not raise an error as it's raising in the above log:

[code]

[2019-06-12 21:24] saintkepha commented on #103
The issue appears to be related to YANG statement scope validation. Based on RFC-6020 (YANG 1.0), an `import` statement cannot contain a `reference` sub-statement. However, RFC-7950 (YANG 1.1) allows `import` statement to also contain `description` and `reference` sub-statements.

`yang-js` is not fully YANG 1.1 compliant so you can comment out the `reference` sub-statement in the YANG schema that

[2019-06-12 21:33] saintkepha commented on #103
I'll also need to fix the infinite loop issue during `Yang.import` when we encounter syntax error during `include/import` where dependency is found successfully.

[2019-06-12 21:38] Vafa-Andalibi commented on #103
Thank you that fixed the infinite loop issue. I'm still getting some errors but I don't think it's the `yang-js` problem anymore. Is there any timeline for Yang v1.1 support?

[2019-06-12 21:42] Vafa-Andalibi commented on #103
Actually I think the new issue is `yang-js` related. I'm now getting this error:

[code]
So for some reason the `bits` basetype cannot be resolved. Any idea about this?

[2019-06-12 22:14] saintkepha commented on #103
Yes, it's because `yang-js` currently doesn't support `bits` typedef... I'd welcome a patch to add that support. :-)

It needs to be added to `src/lang/typedefs.coffee`.

You can check current status of [YANG 1.0 compliance report](../blob/master/test/yang-compliance-coverage.md)

[2019-06-13 17:46] saintkepha opened #106 "Add support for bits type"
Created to address issue #103

[2019-06-14 04:51] saintkepha commented on #106
Placeholder support added. Sufficient for parse/eval. Will need to revisit to allow numeric value assignment.

[2019-06-14 04:52] saintkepha commented on #103
Preliminary support for bits added as per #106.

[2019-06-15 05:13] Vafa-Andalibi commented on #106
Trying to import `ietf-packet-field.yang` I'm getting the following error:

[code]

Is this from the bits implementation? Apparently it's raised from `merge` , is that correct? if so, can you describe the flow a little bit and possibly what could fix it?

Thanks ,

[2019-06-15 05:22] saintkepha commented on #106
I have a bug here:

https://github.com/corenova/yang-js/blob/0b71e97f0475e4643c770f43a80ebfc3972208af/src/lang/extensions.coffee#L136

I should be checking for this.position instead of this.value. Copy/paste bug from replicating "enum" behavior.

[2019-06-15 05:25] saintkepha commented on #106
Also need to update testcase for `bits` type to use `position` sub-statements.

[2019-06-15 15:21] Vafa-Andalibi commented on #106
@saintkepha Since I really need a working instance of bit statement, I would like to contribute. I haven't had any experience with CoffeeScript and I can't find any part of the document describing how one can contribute. Is there any documentation for contribution? It's a little bit difficult to make sense of the flow by just looking at the files and following it.

Thanks!

[2019-06-17 23:38] #106 closed

[2019-06-19 19:31] saintkepha commented on #102
@jcourington - my initial assessment on this issue was incorrect. I've added testcases for this scenario and it doesn't appear that this is an issue related to `tag` merge inside `typedef`. The `tag` merge constraint only applies to data nodes `container, list, leaf, leaf-list`.

I suspect something related to parsing with `{ compile: false }` since when we process `type` we perform implicit `comp

[2019-06-19 19:31] #102 closed

[2019-07-23 17:57] nckbgov opened #108 "toString() namespace value without doublequotes"
if the schema contains a namespace, then toString() parses the value without double quotes or simple quotes. This make the exported YANG model dysfunctional.

[2019-07-23 18:12] #108 closed

[2019-07-23 18:13] saintkepha commented on #108
Thanks, fixed and published new version as 0.22.26

[2019-08-01 13:19] majakizic opened #109 "toString() issue"
Hi

There is an issue in toString() method when printing a module that includes a submodule. The issue is that the printout  contains an entire schema , for example:

file ex1.yang:
[code]

file ex1-sub.yang:

[code]

console.log(Yang.import('ex1.yang').toString());
console.log(Yang.import('ex1-sub.yang').toString());

results in following:
[code]

Is it possible to tag submodule element so that t

[2019-08-07 21:27] saintkepha commented on #109
Hi @majakijic, can you elaborate on what you'd like to see as expected toString output?  Is the issue that the sub statements for the submodule is no longer present after being included by the main module?

[2019-08-08 08:48] majakizic commented on #109
Hi, thanks for the reply.
yes, I think that is the issue. What I would expect to see from the toString is  the original module content without submodule’s elements and the original content of the submodule as well.

The schema is still valid but it would be useful to tag submodule’s elements  in the yang object so that it is possible to associate those with the included submodule.

There is also a

[2019-08-09 00:33] saintkepha commented on #109
Hi @majakizic I think for your use case, perhaps what you want to do is import YANG schema without compiling?
[code]
When you use `Yang.import` it will *compile* the schema, which will modify the schema during the process such as attaching definitions and such from `include` statements.

The issue with `key` being serialized with commas is definitely a bug and I will address that one.

[2019-08-09 00:51] #109 closed

[2019-08-09 08:45] majakizic commented on #109
ok, thanks so much for your help.

[2019-08-26 00:06] martinhAllied opened #110 "Strict option when validating against schema"
Would be good to have option to validate strictly.
This would mean
* No fields added
* No object values turned into arrays of one item, when an array was expected

[2019-08-26 20:03] martinhAllied commented on #110
Great. Thank you so much.  In our case it's been difficult to manage the unexpected fixes to the data.  So cleanly rejecting everything would be of benefit.

[2019-09-04 10:00] nckbgov commented on #108
Thanks!

[2019-09-24 05:15] ohad182 opened #111 "[Question] Import on client side"
Hi,

I am using this library within Angular,
When parsing a schema that doesn't contain import it works well.

I need to parse a schema with custom imports (bundled within my assets).

is it possible to do something like:
         Yang.import(other_yang_content)

or:
         Yang.addImport('ietf-yang-types','assets/yangModules/ietf-yang-types.yang')

those imports should grab the files using http

[2019-09-25 02:42] saintkepha commented on #111
Hi @ohad182

You can use `require('my-schema.yang')` instead of `Yang.import` to load schema and its associated dependencies. And if you use `webpack` or `browserify` you can bundle the schema and its dependencies into your application. For `webpack` you will need to use [yang-loader](http://github.com/corenova/yang-loader).

Currently, there is no facility to support asynchronous dependency loadi

[2019-09-25 02:46] #103 closed

[2019-09-25 02:50] saintkepha commented on #98
Recent change to use Proxy objects now returns an array of Proxy objects for List.change which provides abstraction to access other useful information. Also, List.changes now directly return ListItem properties.

[2019-09-25 02:50] #98 closed

[2019-10-09 18:47] jcourington opened #112 "MaxListenersExceededWarning on complex data models"
On very complex data models you can get warning and eventually fail with the following message.

MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 101 "bind" listeners added. Use emitter.setMaxListeners() to increase limit.

As the message states this can be fixed with a configuration change.

[2019-10-09 19:06] saintkepha commented on #112
@jcourington - can you elaborate on steps to reproduce? I don't think this would result in failure since max listeners for EventEmitter is just a warning... but I don't think we should be attaching so many listeners during schema evaluation anyways.

I suspect this may be due to the deferred processing of custom extensions (if your YANG module defines new `extension` elements) and the new extensio

[2019-10-10 03:48] saintkepha commented on #112
I found another potential bind listener which may be the actual origin for this on a large data model that contains 100+ configurable node elements.

[2019-10-10 04:26] #112 closed

[2019-10-18 15:36] eduardnegru opened #113 "[Question] Validate XML data against Yang model."
I have a YANG model on disk. I want to validate an XML file against that YANG mode. Is there a way to accomplish this? I saw there is the validate function.

[code]
But whenever I pass a JSON representation of the XML file I get :

`Expression error unknown expression`

[2019-10-18 15:55] eduardnegru opened #114 "Yang.compose() results in container undefined as root container for every input."
For every value of config there is always a root container called "undefined" generated.

[code]

Is this the desired behaviour? If yes, what is the purpose of having an undefined container every time?

[2019-10-19 03:23] saintkepha commented on #114
Unfortunately Yang.compose is currently *broken*.   I’ll get around to restoring the functionality on it soon.

[2019-10-19 04:07] saintkepha commented on #114
As to the schema returning `container undefined` as the root, this is because the config JS object is not named and we need to describe that the config object as a container element.  I believe there is an optional argument that we can specify into .compose in order to name the container.

[2019-10-19 04:36] saintkepha commented on #114
The below will allow you to specify a name for the container.

`Yang.compose(config, { tag: “my-config” })`

[2019-10-29 15:22] ohad182 commented on #111
Thanks for your comment,

How can i build the yang-loader library for web?

[2019-11-03 21:12] ohad182 commented on #111
@saintkepha

[2019-12-18 15:22] ohad182 opened #115 "Unable to build:web"
Hi,

i've seen that on this commit:
https://github.com/corenova/yang-js/tree/83987bb135a28f0ee0b396a9a9b222b1f308c438

you removed the build:web script, how can i build it to web?

Documentation says the script exists but actually removed

Thanks!

[2019-12-20 20:17] saintkepha commented on #115
Hi @ohad182 - I removed it since I was using it as part of webpack thought it really wasn’t needed to have a separate standalone web build. I can restore this script functionality in the next release.

For now, you can basically issue the same command (from the prior package.json script) using the cli console to produce the same web browser build.

[2019-12-20 20:18] saintkepha opened #116 "Update documentation using ES6 syntax"

[2019-12-20 20:19] #114 closed

[2019-12-20 20:23] saintkepha commented on #111
Hi @ohad182 - please see below for using webpack along with custom loader (yang-loader) for building for web browser.

https://webpack.js.org/concepts/loaders/

[2019-12-20 20:23] #111 closed

[2019-12-22 08:37] ohad182 commented on #115
Hi @saintkepha,

Thanks for the response, it will be very helpful if this will be integrated into the package release.

For now i've changed package.json like so:
`"devDependencies": {
    "babel-preset-es2015": "^6.24.0",
    "babelify": "^7.3.0",
    "browserify": "^13.1.0",
    "brfs": "^1.4.3",
    "coffee-script": ">=1.7.0",
    "minifyify": "^7.3.4",
    "mocha": "^5.2.0",
    "rimraf": "^2.

[2020-01-22 15:46] tomasol opened #117 "[Question] Working with Multiple Schemas"
How do I create a `YangInstance` from two or more yang schemas? [Documentation](https://github.com/corenova/yang-js/blob/HEAD/TUTORIAL.md#working-with-yang-schema) shows an example where only one main schema is used.

[2020-02-05 12:01] kawoki commented on #1
Is there any way to have a yang-js module with 1.1 support? Currently, I am using yang-js RFC 6020. Thanks in advance.

[2020-02-19 19:08] jcourington opened #118 "yang extension field compilation error"
This compiles with other yang compilers.
It seems that the parser doesn't set extension-name equal to config_lock and then throws an error during the compilation because it expects/needs the name.

sample model

module cl {
prefix "cl";

extension config_locked {
  description "cannot be changed";
}

container default_config {
 cl:config_locked;
 ...
}
}

ExpressionError: [cl:config_locked] must c

[2020-02-19 19:18] saintkepha commented on #118
Thanks for reporting this issue. Looks like it implicitly expects that the extension will always have an argument to the statement although spec does not require the argument to extensions.

I’ll take a look and fix.

[2020-02-19 23:38] #118 closed

[2020-02-20 00:01] #115 closed

[2020-02-20 00:45] saintkepha commented on #118
published in 0.5.22

[2020-02-20 00:46] saintkepha commented on #115
published in 0.5.22

[2020-02-20 20:41] saintkepha opened #119 "Improve Yang.import to support directory search and extension order"
Currently, Yang.import only supports explicit module resolution via `package.json` as follows:
[code]
This means that you'd need a specific entry for every YANG schema module used in your project and where to locate the module in the filesystem.

However, it would be far more convenient to simply specify the directories and packages you can search and the order in which the file extensions should

[2020-02-20 22:07] #119 closed

[2020-03-11 10:51] ohad182 commented on #111
Hi @saintkepha,

I've installed yang-loader and set it to .yang files in my web project.
Now, since web production is a .js file and i have to import it as angular script - yang-loader fails since it performs:
`var Yang = require('yang-js');`
(which is not installed as npm package).
and i get error.
[code]
is there any solution to this?
Thanks!

[2020-03-11 23:30] saintkepha commented on #111
@ohad182 yang-loader has yang-js as a peerDependency. How are you using yang-js in your project without it being installed via npm or being placed inside node_modules/yang-js ?

[2020-03-12 00:27] ohad182 commented on #111
I am using yang-js as mentioned in doc- clone -> build for web -> include the js file in angular.json

[2020-03-12 04:21] saintkepha commented on #111
Got it.

First of all, the latest yang-js published package includes the browserified file inside the dist folder. You don’t need to build it yourself. Instead you can point it to yang-js/dist/yang.js for your angular project.

Secondly, using yang-loader along with webpack would ensure you do not need to use the browserified version at all. When you do require(“yang-js”) and other require(“my-sch

[2020-03-12 08:20] ohad182 commented on #111
@saintkepha
Thanks! you are right! it works! :)

[2020-06-05 17:22] Joel-Cripps opened #121 "validation of Read-only data"
Hey there,
From the docs it looks like [validate](https://github.com/corenova/yang-js/blob/master/src/yang.litcoffee#validate-data-opts) is the way to validate read-only data against a schema. In the following case I get an error when trying to validate.
[code]
Error:

[code]

It appears that  `ctx.store` is undefined in this call.
[code]

A quick change of the code to
[code]
changes the error to

[2020-06-06 03:31] sekur commented on #121
Hi @Joel-Cripps, thanks for reporting this issue. Looks like this functionality is currently broken. I'll look into this further and let you know what I find.

[2020-06-06 04:59] sekur commented on #117
Have you checked here?
https://github.com/corenova/yang-js/blob/HEAD/TUTORIAL.md#working-with-multiple-schemas

[2020-06-06 04:59] #117 closed

[2020-06-06 05:02] sekur commented on #113
Please see recent fix for validate at #121. Also, you should be passing in `nConfigJSON` as input to `yang.validate`.

[2020-06-06 05:02] #113 closed

[2020-06-06 06:12] sekur commented on #110
Staged for 0.24 release

[2020-06-06 06:12] #110 closed

[2020-06-06 06:12] sekur commented on #121
Staged for 0.24 release.

[2020-06-06 06:12] #121 closed

[2020-06-24 12:59] andreas-ibm opened #122 "Validation errors should show "path" to failure and/or name of failing portion."
Enhancement please!

Subject says it all really, for example in list.js there is a check:
[code]

This doesn't help me much when there's a large tree it's parsing (I tried adding `+typeof obj` to the error message, which told me it was of type `object` which ground my gears).

or this one:
[code]

which gave me no clue what I was doing wrong! (I ended up commenting the lines out just to keep going

[2020-06-24 21:31] sekur commented on #122
The thrown error object has the `src` and `ctx` properties that provides more info about where the error was thrown.

You can try/catch (error) and access those properties as `error.src` and `error.ctx`

Hope this helps!

[2020-06-25 06:26] andreas-ibm commented on #122
It does indeed, thank you!

[2020-07-01 03:33] martinhAllied commented on #110
Great!   Thanks!

[2020-07-22 12:47] govindthakur25 commented on #116
Hi @sekur - That would be really great to have ES6 usage documentation, I am struggling to get ES6 imports to work.

[2020-08-21 19:54] Joel-Cripps opened #125 "Mandatory Fields in Read Only Data"
Hey there,
When validating mandatory fields in read-only data I receive a Data must be defined error.

The Code:
[code]
The Yang Model:

[code]
The error:

[code]

If I change the value of mandatory to false, the validation is successful. <br>
If I change the value to false _and_ change admin-status to `admin-status:"asdfasdfadsf"` the validation will generate a correct enum error: `(node:700190)

[2020-11-05 09:17] fredgan opened #127 "Not working on Windows platform?"
Hi Peter @sekur ,

I try to `npm install` and `npm run build:web`, it reported an error said the dependency lib `fsevents` is only working for MacOS system. So Does it mean that I can only use MacOS for developing `yang-js`? Thanks

[code]

[2020-11-09 12:21] fredgan opened #128 "Schema extension does not work as described in the TUTORIAL.md"
Hi Peter @sekur,

I find that schema extension does not work as described in the [TUTORIAL.md](https://github.com/corenova/yang-js/blob/master/TUTORIAL.md).
example:
[code]
the actual result:
[code]
As it showed above, the result didn't return undefined.

Besides, another example
[code]
the results throw an error.
[code]
Is it the expected behavior, or a user error?

[2020-12-16 08:59] brchiu opened #129 "Unable to import ietf-ip.yang"
When try to import ietf-ip.yang [ietf-ip.yang.txt](https://github.com/corenova/yang-js/files/5701429/ietf-ip.yang.txt) which is widely utilized thus should be ok.

[code]
However, an error occurred during import.

[code]

[2020-12-17 04:05] sekur commented on #129
@brchiu thanks for reporting this issue. I think I may have mis-interpreted the spec below:

![Screen Shot 2020-12-16 at 8 02 02 PM](https://user-images.githubusercontent.com/952940/102442608-aabe8d80-3fd9-11eb-93a5-c6497ed6dd59.png)

I assumed it meant it can only contain ONE data node statement within the entire choice block but I suppose we can interpret each data node statement without case wr

[2020-12-17 04:16] sekur commented on #129
fixed and published as 0.24.45

[2020-12-17 04:16] #129 closed

[2020-12-17 04:21] sekur commented on #127
Sorry for the late reply on this... No, the `fsevents` shouldn't be a preprequisite, it's just a warning.

The real culprit here is that I have outdated docs and the `build:web` target doesn't exist... the equivalent is to do `yarn prepublishOnly` or `npm run prepublishOnly`

[2020-12-17 04:25] sekur commented on #127
In any case, I also have it such that by default, you can find it in `dist/yang.js` as part of the npm package.
You can also use it via `require('yang-js/dist/yang')`

[2020-12-17 04:36] sekur commented on #128
Sorry, it's outdated docs... I've modified a while back so that you can still assign arbitrary properties to a schema evaluated object. Those assigned properties won't be schema validated (since the arbitrary properties will not have a schema expression for them) but it won't prevent the assignment.

Also, I had at some point removed support for passing in a schema string as part of `.extends()`.

[2020-12-17 04:53] #128 closed

[2020-12-17 04:54] sekur commented on #128
published as 0.24.46 along with update to `TUTORIAL.md`

[2020-12-17 05:20] brchiu opened #130 "Unable to import ietf-netconf-monitoring.yang"
When try to import [ietf-netconf-monitoring.yang](https://github.com/corenova/yang-js/files/5707134/ietf-netconf-monitoring.yang.txt) which is widely utilized thus its syntax should be ok.

Yang = require('yang-js')
Yang.import('../ietf-netconf-monitoring.yang')
However, an error occurred during import.

[code]

[2020-12-17 05:39] brchiu opened #131 "Unable to import o-ran-compression-factors.yang"
[o-ran-compression-factors.yang.txt](https://github.com/corenova/yang-js/files/5707185/o-ran-compression-factors.yang.txt)

[code]
According to RFC6020, subscription is a valid sub-statement for case statement.

![description_is_a_valid_substatement_for_case_statement](https://user-images.githubusercontent.com/6227912/102448217-a2636280-406c-11eb-9a53-e1318aa6a338.jpg)

However, it fails when pars

[2020-12-17 06:12] sekur commented on #131
Hi @brchiu, I'm not sure what the functional intent would be of having a `case` statement with only a `description` sub-statement. That `case` statement cannot be used to match/validate anything? The RFC is vague about whether a data node identifier _must_ be present under a `case` statement but I'm unclear on the use case for this.

[2020-12-17 06:12] #130 closed

[2020-12-17 07:22] brchiu commented on #131
@sekur, I don't know neither. This syntax is used in O-RAN's yang model and another [libyang](https://github.com/CESNET/libyang) C library can parse it.

[2020-12-17 11:41] brchiu commented on #131
@sekur, now I know that it's reasonable to have no data node under this `case` statement because it indicates an option of `no compression` of `compression-format` that do not have any parameters.

[2020-12-23 22:52] quantang opened #132 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected."
Hello @sekur,

I got the following warning when I try to use yang.js to "eval" the JSON data repeatedly.

`MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 101 change listeners added to [EventEmitter]. Use emitter.setMaxListeners() to increase limit`

I can understand that we attached some events with the schema, such as "change", on the Model level. So I tried to release t

[2021-01-07 06:51] brchiu commented on #131
@sekur, before you clarify whether a `case` statement with only a `description` sub-statement is valid or not, could you advice how I can workaround with it temporarily or locally by modifying any specific code excerpt on my side for further processing O-RAN yang modules ? Thank you very much.

[2021-05-25 11:17] k-jay-c opened #137 "Issue with importing Yang file with Extensions"
I am trying to import some Yang files which are part of an application that contains various extension.

When trying to import, I'm getting the following error:

`
unable to parse '/Volume/Samsung/yangTest/tailf-common.yang' YANG module from '/Volume/Samsung/yangTest/tailf-common.yang'
/Volumes/Samsung/code/node_modules/yang-js/lib/node.js:223
          throw e;
          ^

Error [ExpressionError

[2022-08-16 06:27] wubo02093104 opened #144 "when parse the file 'ietf-subscribed-notifications@2019-09-09.yang' with yang-js, there is 'unable to locate' error"
Error [ExpressionError]: [module(ietf-subscribed-notifications)/grouping(subscription-policy-dynamic)/uses(subscription-policy-modifiable)/augment(target/stream)] unable to locate 'target/stream'

[2022-08-16 06:39] wubo02093104 commented on #144
other error report when parse the file 'ietf-subscribed-notifications@2019-09-09.yang' :
Error [ExpressionError]: [module(ietf-subscribed-notifications)/notification(subscription-started)/uses(subscription-policy)/refine(target/stream/replay-start-time)] unable to locate 'target/stream/replay-start-time'